[2018-04-12 21:06] jasongwartz opened #44 "Add pingdom support"
Saw the Medium article, great tool!

We use Pingdom, which also has a decent API (though a fair bit different from the UptimeRobot API).

If this isn't already in the works, I'll have a crack at it :smile:  - seems like there might be some changes needed to the httpClient layer to make it happen.

[2018-04-13 05:10] rasheedamir commented on #44
@jasongwartz please go ahead and crack it! currently we don't have any plans to support pingdom but will be very happy if you can help us to add it.

[2018-04-16 00:09] valentin2105 opened #45 "[StatusCake Support] Stuck at Starting Ingress Monitor controller"
Hi,

Good work for IngressMonitor,

I'm a StatusCake user, so I created an API key, and deployed configmap, rbac and Deployment of IngressMonitorController v1.0.6,

[code]

Small problem,

It start and stuck at `Starting Ingress Monitor controller` ...

So I think, I need to create an annotation for my ingresses now, and it doesn't change anything.

Thanks for debuging this with me.

(I work in IP

[2018-04-16 09:33] waseem-h commented on #45
Hi @valentin2105,

We do not support StatusCake as of now. Currently we only have support for [UptimeRobot](https://uptimerobot.com).

We will be glad if you could contribute and help us add support for it.

[2018-04-16 09:48] valentin2105 commented on #45
Oh sorry I confused between UptimeRobot and StatusCake :p

I'll check the codebase and check if I feel able to contribute that !

Thanks.

Le lun. 16 avr. 2018 à 20:33, Waseem Hassan <notifications@github.com> a
écrit :

[2018-04-16 09:49] waseem-h commented on #45
Sure. We will be here to help

[2018-04-16 21:15] #45 closed

[2018-04-16 22:53] mmiller1 commented on #44
@jasongwartz have you started any work towards this? I'd be willing to chip in as well to see this happen.

[2018-04-17 07:42] jasongwartz commented on #44
@mmiller1 great! I started to take a look at it a few days ago. The httpClient is written pretty exclusively for UptimeRobot, and large parts of it need to be rewritten to work with the Pingdom API - it currently only implements POST, and Pingdom needs both POST and GET, as well as requiring HTTP Basic Auth in addition to an API token parameter. There's also a big chunk of work to model all the Pi

[2018-04-24 08:43] ahmadiq commented on #44
@mmiller1 Cool. If you can create a pull request the team can review and test with uptime robot as well.

[2018-04-25 10:12] ahmadiq opened #47 "Test Issue"
test issue

[2018-04-25 10:13] ahmadiq commented on #47
test comment

[2018-04-26 11:45] drubin opened #48 "Cross namespace support?"
Is it possible to run this in a different namespace to the ingess rules it reads?

I see you have to pass the namespace in as an ENV variable https://github.com/stakater/IngressMonitorController/blob/master/src/main.go#L12. But that isn't how most of our ingress controllers are configured.

So it would be nice if this could be deployed in a similar fashion to that, vs every namespace needing a cus

[2018-04-26 11:59] waseem-h commented on #48
One way of doing this would be to provide the namespaces to watch in the configmap and update the RBAC so that the controller can watch ingresses in those namespaces as well. Unfortunately this is not supported yet but we would be happy if you could implement this change and create a PR

[2018-04-27 06:35] waseem-h commented on #48
The problem is that the service account was created in a different namespace. You need to change the namespace of the service account here: https://github.com/stakater/IngressMonitorController/blob/master/kubernetes/manifests/rbac.yaml#L54

After changing you can run
[code]

[2018-04-27 07:45] drubin commented on #48
@waseem-h Yes sorry you were right sorry about that.. I copied the wrong error from the logs. This is what I originally got before changing the namespace as you mentioned.

After I did that I got the following errors, which I thought were confusing considering I was using the exact rules in the manifests file. Could there be a difference between k8s versions I am running? Or do I need to explicitl

[2018-04-27 13:37] ahmadiq commented on #47
test comment2

[2018-04-27 13:39] #47 closed

[2018-04-27 13:42] rasheedamir commented on #48
@drubin which version of k8s are you running?

[2018-04-27 15:27] drubin commented on #48
@rasheedamir 1.9.4 on gke.

[2018-04-27 19:42] waseem-h commented on #48
Can you share your deployed resource's yaml? Run kubectl get -o yaml and post yaml here so I can see what's wrong. Maybe you haven't assigned the same service account to the deployment

[2018-05-04 07:01] drubin commented on #48
@rasheedamir @waseem-h Sorry about the late reply. I will post the yaml today. I just have to re-install it in a cluster as I removed it when the rbac wasn't working.

[2018-05-04 07:15] rasheedamir commented on #48
@drubin cool no problem!

[2018-05-08 07:29] rasheedamir commented on #48
@drubin today we found out a drawback of running IMC per namespace; that is if someone deletes a namespace then there will be lingering monitors; which someone will have to delete manually

so, the solution is to run IMC in default namespace and let it watch over all namespaces

wondering if you would like to implement this change? @waseem-h can give high level pointers.

[2018-05-20 08:51] Mikulas opened #51 "RBAC: Cluster role vs per-namespace role"
Would you accept a PR with a `ClusterRole` instead of the current `Role`, or an option to chose between the two in the helm release?

Our use case is  that we have a tooling namespace for all controllers and do not duplicate those controllers for each namespace.

[2018-05-20 09:50] rasheedamir commented on #51
Sure @Mikulas

[2018-05-20 12:15] rasheedamir opened #53 "Add statuscake support"
StatusCake is another widely used downtime checker/notifier and we should include its support in IMC.

[2018-05-28 06:35] rasheedamir commented on #51
@Mikulas how is it going? Do you need any help?

[2018-05-31 00:02] mmiller1 commented on #44
I've tested your branch, the monitors are created, but with the incorrect host / path (pingdom defaults the check to https://google.com if none is parsed). I'll see if I can figure out what's going in your branch over the next day or so.

[2018-05-31 08:31] waseem-h commented on #44
Closed with #55

[2018-05-31 08:31] #44 closed

[2018-06-04 16:04] sodenjtef opened #57 "Produces double-slashes in uptime URL"
The IngressMonitorController seems to append an extra slash into the URL.

If the health endpoint of an pod is set to `/myapp/health` and the path of a corresponding ingress is set to '/', the final requested URL contains two slashes: `https://example.com//myapp/health`.

This breaks at least modern spring applications (they return http 500 with "The request was rejected because the URL was not no

[2018-06-05 06:47] hazim1093 commented on #57
Hi @sodenjtef ,

Can you share what your ingress looks like which causes the bug?

[2018-06-05 07:12] sodenjtef commented on #57
@hazim1093 Thanks for looking at the issue.

My ingress which leads to the issue looks like:

[code]

Without the line `path: /`, there are no double slashes.

The issue could probably be solved by using something like https://stackoverflow.com/a/43415988/1182783 in ingress-wrapper.go getURL() to join the healthEndpoint path with the subpath url instead of simple concatenating url parts.

[2018-06-05 07:26] rasheedamir commented on #57
Great suggestion @sodenjtef ! We should join instead of concatenating and that should resolve this issue

[2018-06-08 13:22] rasheedamir commented on #57
@sodenjtef we have a PR in place which is a wip and will be merged into master next week.

[2018-06-13 09:05] #57 closed

[2018-06-13 09:19] rasheedamir commented on #44
@mmiller1 is it working as expected or you still see some issues?

[2018-06-13 09:48] hazim1093 commented on #57
@sodenjtef Please try version 1.0.14

[2018-06-13 10:47] sodenjtef commented on #57
@hazim1093 I can confirm, that the URLs are generated now correctly with version 1.0.14. Thanks for fixing the issue.

[2018-06-14 21:16] gempesaw opened #61 "configuring monitor URL construction"
Howdy! Thanks for putting this controller together, it exactly solves the problem I'm working on at $WORK, so I'm quite grateful for all your hard work. I've noticed a few issues in our use case with the way the monitor URL is constructed, and I'd be happy to open PRs for either of these if you're interested.

- **protocol**: our ingress doesn't handle TLS on its own (we're running behind an ALB w

[2018-06-14 22:01] rasheedamir commented on #61
@gempesaw we are more than happy to accept PR's as all suggestions look very valid.

Please make small PR's and we take it from there!

[2018-06-18 15:15] rasheedamir opened #64 "Change operator work queue to a map of *Ingress object"
Suggestion from @Mikulas

Refactor the code; namely the operator work queue would be easier to work with if it was in fact a map with the *Ingress object. It would also simplify the code as it would remove the parsing (splitting) of the namespace/name key and would eliminate the API calls for getting an Ingress from key (name).

[2018-06-19 12:01] #51 closed

[2018-06-19 15:45] rasheedamir commented on #51
@Mikulas its merged plz test it and let us know if you find any issues

[2018-06-19 15:52] rasheedamir commented on #48
@drubin now this feature is in place; please test and let us know. I am going to close it now; but if you find its not working as expected then please let us know.

[2018-06-19 15:52] #48 closed

[2018-06-19 20:19] rasheedamir opened #67 "Document one IMC for all namespaces"
Regarding documentation of one IMC for all namespaces:

- clearly specify in the readme
- add an example in k8s manifest folder

[2018-06-20 11:15] drubin opened #68 "Leverage Github releases vs checking the binary into source control"
Currently, I notice there is an `out` directory which contains the binary data. Could we make use of GitHub releases to manage this rather?

[2018-06-20 11:18] hazim1093 commented on #68
@drubin Thank you for your feedback.

We were looking into [goreleaser](https://github.com/goreleaser/goreleaser) to add it in our CI/CD flow for this purpose.
You'll be seeing the binary in github releases soon.

If you have any suggestions let us know.

[2018-06-20 12:27] hazim1093 opened #69 "Common check interval annotation"
As suggested by The annotation `monitor.stakater.com/pingdom/resolution` can be abstracted into a general annotation such as `monitor.stakater.com/resolutionTime` as it can be used with premium services of uptimerobot and probably other services providers too.

Make it the annotation common and document that it is currently supported with pingdom only, we can later add support for resolution time

[2018-06-20 13:50] drubin commented on #69
But it does support it easily with the premium version.

https://uptimerobot.com/api#newMonitorWrap

While we are abstracting away these thigns it might also be nice to abstract away the AlertContacts as well.  Different services might need to go to different contacts

It also explains the confusing `_0_0` in the alert contacts configuration.

[2018-06-21 08:39] hazim1093 commented on #67
Done by https://github.com/stakater/IngressMonitorController/pull/70

[2018-06-21 08:39] #67 closed

[2018-06-21 10:10] #61 closed

[2018-06-22 08:06] hazim1093 opened #74 "K8S objects created during tests fail on simultaneous runs"
IMC creates several k8s objects while running its tests, and simultaneous tests running causes conflicts as the name of the objects is same.

Append a unique identifier with k8s objects created during tests so that there is no conflict while running multiple pipelines/tests simultaneously.

[2018-06-23 10:55] rasheedamir commented on #53
PR in progress: https://github.com/stakater/IngressMonitorController/pull/76

[2018-06-26 09:22] waseem-h opened #77 "Fix pingdom annotations"
Currently pingdom annotation are in format `monitor.stakater.com/pingdom/annotation` but this format is not allowed in kubernetes. We have to update the current pingdom annotations to the following format
[code]
i.e., `pingdom.monitor.stakater.com/annotation`

[2018-06-26 09:23] rasheedamir opened #78 "Document naming convention for annotations"
We must document what naming convention to follow for naming common and specific annotations.

[2018-06-26 15:14] Anish-Gupta-Bose opened #79 "Change in annotations doesn't reflect back to the Monitor"
After creating the monitors, if one makes changes to the Ingress annotations related to the `IngressMonitorController`, they aren't reflected back to the Monitoring service.

[2018-06-26 19:58] gempesaw commented on #64
This may be solved by #75

[2018-06-26 20:07] gempesaw commented on #79
Hmm, can you provide more information?

- what annotations are you using, and what are you changing?
- which monitoring service are you using?
- what version are you using?

(I'm not a maintainer, but I've contributed some changes to IMC annotations recently which may be related to your issue! But I can't tell from the information you've provided...)

[2018-06-26 20:30] gempesaw commented on #79
oh, great! just wanted to be sure I hadn't created a new bug :)

[2018-06-27 07:48] rasheedamir commented on #79
@Anish-Gupta-Bose anything which will improve the quality of this controller will be awesome! but just make a separate PR

[2018-06-27 10:17] waseem-h commented on #64
Closed by #75

[2018-06-27 10:17] #64 closed

[2018-06-27 14:06] Anish-Gupta-Bose commented on #79
@rasheedamir I would make a separate PR, but since my fork has the StatusCake PR #76, I can't push it before that's closed. It would be great if the PR for StatusCake get's merged soon, cause I am using it for the cluster's here.

[2018-06-28 13:57] rasheedamir commented on #78
Closed by #80

[2018-06-28 13:57] #78 closed

[2018-06-28 13:59] rasheedamir commented on #77
The convention has been documented here:
https://github.com/stakater/IngressMonitorController/blob/master/docs/developing/conventions.md

[2018-06-28 14:52] rasheedamir opened #82 "Add helm-chart deployments to the Makefile"
As suggested by @Anish-Gupta-Bose it will be good to add helm-chart deployments to the Makefile:

[code]

[2018-06-28 20:22] rasheedamir opened #83 "Add k8s version on which IMC has been tested"
We must add a section in README which lists downs the k8s version on IMC has been tested and is being used

[2018-06-29 07:29] rasheedamir opened #85 "Improve the readability of ReadMe"
Couple of things are misleading/confusing in the README:

- it must clearly specify that IMC can be run per namespace or globally
- user doesn't need to download the repo; rather just run with -f and provide file path's
- separate the installation with vanilla manifests and helm charts in more cleaner way

[2018-06-29 09:15] rasheedamir opened #87 "Create combined k8s manifest with all objects"
To simplify the installation of IMC there should be one k8s manifests which includes all objects i.e. rbac, configmap and deployment

And then add in README how the user can just use that one manifest to install IMC

[2018-06-30 13:59] Anish-Gupta-Bose commented on #82
Fix Pushed in #88

[2018-06-30 14:00] Anish-Gupta-Bose commented on #79
Fix pushed in #88

[2018-06-30 15:02] rasheedamir commented on #82
Closed by #88

[2018-06-30 15:02] #82 closed

[2018-06-30 15:03] rasheedamir commented on #79
Closed by #88

[2018-06-30 15:03] #79 closed

[2018-06-30 15:03] rasheedamir commented on #53
Closed by #76

[2018-06-30 15:03] #53 closed

[2018-06-30 15:03] rasheedamir commented on #53
Great work @Anish-Gupta-Bose

[2018-07-01 13:04] rasheedamir commented on #85
- one IMC for whole cluster or one IMC per namespace/environment

[2018-07-01 13:07] rasheedamir commented on #85
- separate the global settings and per uptime checker settings; and separately put them in the readme
- create step by step process to setup per uptime checker

[2018-07-01 21:03] rasheedamir opened #89 "Refactor configmap to secrets"
Currently we take passwords and api keys as plain configmaps whereas they should be secrets.

Tasks:

- [ ] Refactor to convert them to secrets
- [ ] Update deployments and examples
- [ ] Update readme that its a breaking change and now info should be provided as a secret and not a configmap

[2018-07-01 22:00] rasheedamir commented on #85
- just how to install and get going! the rest should be moved to documentation

[2018-07-01 22:01] rasheedamir commented on #87
Step 1: Deploy imc to your cluster with command:

[code]

Step 2: Configure the configmap

[code]

[2018-07-02 13:56] hazim1093 commented on #74
@waseem-h Have we tested this ? https://github.com/stakater/IngressMonitorController/pull/90

[2018-07-03 13:11] waseem-h commented on #74
Made the name of the ingresses unique but uptime robot monitors should have unique url's i.e., 2 monitors having different name but same url cannot exist. So, the problem still persists with this change. We need to find a way to make url's unique for each ingress as well. Any suggestions @rasheedamir

[2018-07-05 21:36] ahmadiq commented on #45
Hello @valentin2105
I'm happy to inform you that we now have integration with StatusCake as well. Check it out.

[2018-07-05 22:00] valentin2105 commented on #45
@ahmadiq Oh Thanks a lot !!
I will try that ASAP !

[2018-07-06 17:51] rasheedamir commented on #68
@faizanahmad055 I wonder what is needed to finish it? we have verified goreleaser in other repo?

[2018-07-07 19:11] rasheedamir opened #93 "Add support for Updown in IngressMonitorController"
Add support for updown in IMC to monitor the uptime of web applications / microservices deployed to kubernetes/openshift

https://updown.io/

Conventions to follow: https://github.com/stakater/IngressMonitorController/blob/master/docs/developing/conventions.md

**PR's are very welcome**

[2018-07-07 19:19] rasheedamir opened #94 "Add support for Pingometer in IMC"
Add support for pingometer in IMC to monitor the uptime of web applications / microservices deployed to kubernetes/openshift

https://pingometer.com/

Conventions to follow: https://github.com/stakater/IngressMonitorController/blob/master/docs/developing/conventions.md

**PR's are very welcome**

[2018-07-08 08:12] rasheedamir opened #95 "Add support for AppBeat in IMC"
Add support for AppBeat in IMC to monitor the uptime of web applications / microservices deployed to kubernetes/openshift

https://www.appbeat.io/

Conventions to follow: https://github.com/stakater/IngressMonitorController/blob/master/docs/developing/conventions.md

**PR's are very welcome**

[2018-07-08 08:21] rasheedamir opened #96 "Add support for Uptime in IMC"
Add support for Uptime in IMC to monitor the uptime of web applications / microservices deployed to kubernetes/openshift

https://uptime.com/

Conventions to follow: https://github.com/stakater/IngressMonitorController/blob/master/docs/developing/conventions.md

**PR's are very welcome**

[2018-07-08 08:25] rasheedamir opened #97 "Add support for Uptrends in IMC"
Add support for Uptrends in IMC to monitor the uptime of web applications / microservices deployed to kubernetes/openshift

https://www.uptrends.com/products/website-monitoring

Conventions to follow: https://github.com/stakater/IngressMonitorController/blob/master/docs/developing/conventions.md

**PR's are very welcome**

[2018-07-08 08:31] rasheedamir opened #98 "Add support for host-tracker in IMC"
Add support for host-tracker in IMC to monitor the uptime of web applications / microservices / REST API's deployed to kubernetes/openshift

https://www.host-tracker.com/

Conventions to follow: https://github.com/stakater/IngressMonitorController/blob/master/docs/developing/conventions.md

**PR's are very welcome**

[2018-07-08 08:33] rasheedamir opened #99 "Add suppport for Site24x7 in IMC"
Add support for Site24x7 in IMC to monitor the uptime of web applications / microservices / REST API's deployed to kubernetes/openshift

https://www.site24x7.com/

Conventions to follow: https://github.com/stakater/IngressMonitorController/blob/master/docs/developing/conventions.md

**PR's are very welcome**

[2018-07-09 10:09] faizanahmad055 commented on #68
@rasheedamir , yes we have tested this in stk. We just need to update its jenkinsfile to use goreleaser.

[2018-07-09 10:23] rasheedamir commented on #74
lets discuss over call today and then document on what we agree

[2018-07-10 12:47] waseem-h commented on #74
Fixed in #101

[2018-07-10 12:47] #74 closed

[2018-07-20 23:26] rasheedamir commented on #69
Agreed @drubin; can you please create a separate issue and suggest/mention the abstracting of AlertContacts in it?

[2018-07-28 09:19] ahmadiq commented on #87
@rasheedamir is there a way to update specific properties of the configmap. i haven't found one. Also overall it may be better to have the yaml file downloaded first since we are going to have a unified yaml. The namespaces may need to be edited, and will also be useful if needed for deletion/re-creation.

[2018-07-28 13:01] rasheedamir commented on #87
Yeah its fine and we can mention that download this unified file; update particular stuff and then apply it. The whole idea is to make it really simple for the user to give it a try and get it working.

[2018-07-28 13:46] ahmadiq commented on #87
I've refined the text a bit for this.

[2018-07-29 10:33] rasheedamir opened #103 "Fix the jumbo manifest file name"
ReadMe says file name is `imc.yaml` whereas in the directory its called `ingressmonitorcontroller.yaml`

[2018-07-30 16:55] #103 closed

[2018-07-30 20:56] #77 closed

[2018-07-31 01:57] JonnyBGod opened #107 "Publish chart to a public helm repository"
Get IMC listed in the public helm repository i.e. https://github.com/helm/charts

[2018-07-31 06:11] rasheedamir commented on #107
@JonnyBGod we do publish IngressMonitorController chart here in this public repository https://github.com/stakater/stakater-charts

Is that what you are looking for?

Or you think we should publish them here as well: https://github.com/helm/charts

[2018-07-31 06:16] rasheedamir opened #108 "Update helm based installation section in the README"
For installing IMC using Helm we still mention that user must clone and copy etc. but now we do have public helm charts git repo https://github.com/stakater/stakater-charts

So, we must specify how easily can user do the installation using that helm charts repo.

[2018-07-31 11:01] JonnyBGod commented on #107
That should be fine for me.

But you should document that.

It might increase adoption though if you publish it to https://github.com/helm/charts

[2018-07-31 12:02] rasheedamir commented on #107
Yeah agreed @JonnyBGod we will definitely do that!

Also we are going to update the README and make it clear for user how to easily find the charts.

[2018-07-31 13:02] ahmadiq opened #110 "Lean README"
- Make the README very lean, and move everything else to documentation
- Fix banner

[2018-08-01 07:53] #108 closed

[2018-08-01 07:54] ahmadiq commented on #107
Hi @JonnyBGod We have documented the steps for using our Stakater Charts repository here:
https://github.com/stakater/IngressMonitorController#helm-charts

[2018-08-01 13:54] JonnyBGod commented on #107
Perfect

[2018-08-01 13:54] #107 closed

[2018-08-02 09:18] #110 closed

[2018-08-22 17:21] rasheedamir opened #116 "Specify the strategy for update in manifests"
We must include the udpate strategy by default in all of the manifests e.g.

[code]

Also how many replica's should be run?

[2018-08-29 12:16] rasheedamir opened #117 "Add support for OpenShift Routes"
Currently we support `Ingress` only and we should add support for `Routes` as well.

[2018-09-05 08:44] rafi opened #118 "Add support for VictorOps for liveness alerts creation"
It would be great to support https://victorops.com/ for liveness alert creation.

[2018-09-06 05:28] rasheedamir commented on #118
Sure @rafi!

It would be awesome if you can add it and make a PR? We will help you out

[2018-09-17 11:06] faizanahmad055 commented on #117
Implemented in #119

[2018-09-17 11:06] #117 closed

[2018-09-18 13:40] rasheedamir opened #120 "Add support for NimSoft"
NimSoft is oftenly used for on-prem kubernetes/OpenShift cluster

[2018-10-09 16:37] addapptation-choey opened #123 "Monitor Produces Duplicates"
I'm trying out IngressMonitorController with StatusCake for my K8s cluster.

It appears that oftentimes an ingress entity is created, it is processed twice by the monitor, resulting in  two identical tests being added to StatusCake.

I'm using Kubernetes Server v1.11.3

There does appear to be an error in the log when this occurs:

[code]

[2018-10-09 19:50] rasheedamir commented on #123
@Anish-Gupta-Bose since you added StatusCake support I wonder if you can take a look?

@waseem-h what is your thought on this issue?

[2018-10-12 03:36] waseem-h commented on #123
One thing I can see from the logs is that unmarshaling statuscake responses is failing due to invalid data type. I've fixed the issue but was unable to reproduce the issue where IMC is creating duplicates. Can you please provide steps and config to reproduce this? @addapptation-choey

[2018-10-17 19:47] rasheedamir commented on #123
@addapptation-choey is this still an issue or we can close it?

[2018-10-18 15:44] rasheedamir commented on #123
Ok cool good to know! We will close this for now and if someone reports it again then we can open it.

[2018-10-18 15:44] #123 closed

[2018-10-24 20:45] rasheedamir commented on #118
@rafi do you think you can work on it?

[2018-10-26 08:11] monotek opened #125 "Add chart to official helm/stable repo"
Please add the chart (https://github.com/stakater/IngressMonitorController/tree/master/deployments/kubernetes/chart/ingressmonitorcontroller) to https://github.com/helm/charts/tree/master/stable.

Imho people will look there first for a chart.

[2018-10-26 08:36] rasheedamir commented on #125
great idea @monotek we will do that!

[2018-10-27 20:45] rasheedamir commented on #68
@faizanahmad055 what is left to close this ticket?

[2018-11-01 13:16] faizanahmad055 commented on #68
Implemented via #126

[2018-11-01 13:16] #68 closed

[2018-11-05 13:19] hazim1093 opened #127 "Monitor not deleted upon removing Ingress"
**Kubernetes Version**:  1.10.8
**Ingress Monitor Controller Version**: 1.0.26
**Provider**: Uptime Robot

Deleted a service and ingress with IMC annotation, but it did not delete the monitor in Uptime Robot.
The logs for IMC were as follows:

[code]

[2018-11-17 21:50] monotek commented on #125
It's there :-)
https://github.com/helm/charts/pull/8975

[2018-11-18 07:01] rasheedamir commented on #125
@faizanahmad055 update the README and include how one can install using the helm chart; seems to be currently missing.

[2018-11-21 11:11] sabbour opened #130 "Add support for Azure Application Insights in IMC"
Add support for Azure Application Insights in IMC to monitor the uptime of web applications / microservices deployed to kubernetes/openshift

https://docs.microsoft.com/en-us/azure/application-insights/app-insights-monitor-web-app-availability
https://azure.microsoft.com/en-us/blog/creating-a-web-test-alert-programmatically-with-application-insights/
https://docs.microsoft.com/en-us/rest/api/appli

[2018-11-21 11:50] rasheedamir commented on #130
@sabbour it will be awesome if we can add support for it; I wonder if you can work on it? We will help you out.

[2018-11-21 11:50] sabbour commented on #130
I added it as a placeholder, and I’ll have a look at it ☺

- Ahmed

From: Rasheed Amir <notifications@github.com>
Reply-To: stakater/IngressMonitorController <reply@reply.github.com>
Date: Wednesday, November 21, 2018 at 3:50 PM
To: stakater/IngressMonitorController <IngressMonitorController@noreply.github.com>
Cc: Ahmed Sabbour <asabbour@microsoft.com>, Mention <mention@noreply.github.com>
Subjec

[2018-11-21 12:06] faizanahmad055 commented on #125
Readme update is being tracked in #131. IMC chart has been submitted to official helm repo so closing this issue.

[2018-11-21 12:06] #125 closed

[2018-11-21 12:47] chandraprakash1392 opened #133 "Ingress wrapper is building wrong urls in case there is a named servicePort in ingress"
Hello there, Ingress builder code is creating wrong monitor url in case there is a named servicePort in ingress.yaml and the path is set as "/*". Basically in the ingress_wrapper.go between L63-L80 is checking for the servicePort in ingress.yaml and adding the servicePort into the monitorURL path, which doesn't look right.

My ingress.yaml looks like this:
[code]

So the monitorURL looks like this

[2018-11-21 12:56] rasheedamir commented on #133
@chandraprakash1392 great thanks for using IMC; team will take a look tomorrow

[2018-12-27 14:08] angel1st opened #135 "Handle per service monitoring"
Hi there, I have a follow use case -  have Ingress controller installed and below is its sample resource file:

[code]

I would like to configure IMC with Pingdom as service provider. In this case IMC will monitor this particular Ingress controller. However, what I need is to receive notification in case particular service is down. So I need per service notification. How can I achieve that?

[2018-12-27 14:11] ahmadiq commented on #135
Hello Angel,

That’s a good point. It seems the Ingress Monitor Controller is registering a monitor only for the first rule of the ingress. I think there was an assumption that was taken initially which has carried on till now. We will discuss this issue within the team and schedule a fix for this at some time.

In the meantime if it suits you, a workaround will be to divide this ingress into mult

[2018-12-27 14:22] angel1st commented on #135
@ahmadiq - TBH creating a separate ingress controller for each service will become quite tedious, since adding / removing services and their mapped sub domains is part of the automated workflow. So I guess it is easier to have just one ingress controller per one IMC and wait until the above has been resolved.

[2018-12-29 10:31] angel1st commented on #135
@ahmadiq - on a second thought - re your workaround suggestion - do you actually mean creating a separate ingress resource file for each subdomain? So basically, I will have a single ingress controller, but each subdomain will be represented by a single ingress yaml. If this is your suggestion, I think it makes much more sense...

[2018-12-29 13:58] rasheedamir commented on #135
Yeah @angel1st Ahmad meant to have one ingress per domain or subdomain; and if you want to multiple domains to point to same then you can always use alias

Also we use our https://github.com/stakater/Xposer which creates ingress from service automagically; and even takes away the management of ingresses

[2018-12-29 14:16] angel1st commented on #135
Thanks, @rasheedamir so basically, if I use [Xposer](https://github.com/stakater/Xposer), it will create an ingress resource file (`yaml`) per each subdomain and in case `monitor.stakater.com/enabled: "true"` is added as annotation within the template, it will turn IMC to create an alert for this subdomain into Pingdom automatically, isn't it?

[2018-12-30 08:09] rasheedamir commented on #135
Indeed @angel1st you just need to put annotations on `kubernetes service` and then rest will be handled automatically i.e. both `ingress` and `pingdom healthcheck`

[2018-12-31 09:40] kahootali commented on #133
This is fixed by [PR#132](https://github.com/stakater/IngressMonitorController/pull/132)

[2018-12-31 09:40] #133 closed

[2019-01-02 16:58] rasheedamir commented on #135
@angel1st do you still think we should implement this feature or the way I suggested will work for you?

[2019-01-03 06:17] angel1st commented on #135
@rasheedamir - since a `service` is the typical deployment object, I believe it is worthwhile to monitor changes on this level, so yes, I think it would be nice to have it.

[2019-01-03 11:17] rasheedamir commented on #135
IMC works on ingress level on purpose

correct; you need to specify `alertContacts`

[2019-01-05 10:58] rasheedamir commented on #130
@sabbour i wonder if there is any free tier that can be used when one wants to implement support of Azure Application Insights in IMC?

[2019-01-05 17:36] sabbour commented on #130
@rasheedamir Application Insights ping web tests are free https://azure.microsoft.com/en-us/pricing/details/monitor/

[2019-01-17 13:09] linki opened #140 "Add support for Stackdriver Uptime Checks and Alert Policies in IMC"
Add support for Stackdriver Uptime Checks and Alert Policies in IMC to monitor the uptime of web applications / microservices deployed to kubernetes/openshift

Uptime checks:
* https://cloud.google.com/monitoring/uptime-checks/

Alert Policies:
* https://cloud.google.com/monitoring/uptime-checks/uptime-alerting-policies

Golang client library:
* https://godoc.org/cloud.google.com/go/monitoring/api

[2019-02-01 16:17] rasheedamir commented on #135
@angel1st i m closing this issue; plz re-open if you still think it's valid

[2019-02-01 16:17] #135 closed

[2019-02-12 07:11] kahootali opened #145 "Append `ingressmonitorcontroller-` to all functions in helpers.tpl template"
`imc-` is not appended to ServiceAccountName template in helpers.tpl so it will cause issue when deploying through Umbrella charts

[2019-02-12 11:15] majodev opened #146 "overridePath escaping"
Using the annotation `monitor.stakater.com/overridePath` with characters like `?` currently automatically escapes them: e.g. `/health?apikey=test` becomes `/health%3Fapikey=test` and is inserted like this in UptimeRobot monitors.

Typical log output:
[code]

Is there a way to work around this?

[2019-02-12 11:46] waseem-h commented on #146
Seems like the `overridePath` only supports actual paths like `/health/go` but not query strings. I will see if we can add support for query strings as well and get back to you @majodev

[2019-02-19 09:55] xanonid opened #147 "IngressMonitorController should update URL on pod changes"
Currently, it seems that IngressMonitorController discovers the URLs to be monitored only at startup or on Ingress changes.

If the readiness URLs of the pods behind a ingress changes, the URLs are not updated automatically.

The issue could be solved by doing regularly a full-scan of all monitors and update the URLs if necessary.
My suggestion would be to try simply a resyncPeriod > 0 in
https://

[2019-03-14 19:40] rasheedamir commented on #146
@waseem-h did you get chance to look into it?

[2019-03-14 19:42] rasheedamir commented on #147
@xanonid can you please create a PR for this change?

[2019-03-15 18:29] xanonid opened #148 "Add support for basic auth (uptimerobot.com)"
uptimerobot.com supports adding basic auth (http_username & http_password) to monitors. It would be nice, if IngressMonitorController could set those settings via related Ingress annotations/secrets.

[2019-03-21 02:08] SinFulNard commented on #148
This also applies to Pingdom!

[2019-04-05 08:27] aliartiza75 commented on #93
I have created a PR #152 to add updown support in IngressMonitorController.

[2019-04-09 10:10] SinFulNard commented on #148
I've submitted a PR to bring this to Pingdom via an annotation and OS env (mounted secret); https://github.com/stakater/IngressMonitorController/pull/154

[2019-04-10 23:22] sharkymcdongles opened #157 "Pingdom integration needs an option header field added to work with team accounts"
Per here:

https://www.pingdom.com/api/2.1/#multi-user+authentication

An option header field for the api calls from the controller need to include Account-Email.

e.g.

[2019-04-10 23:24] #157 closed

[2019-04-13 15:38] sharkymcdongles opened #158 "Add support for integrations in Pingdom"
The check api definitions are here:

https://www.pingdom.com/api/2.1/#MethodCreate+New+Check

Basically, we need to be able to specify the integration ids for checks to allow checks created by the controller to have integration features.

integrationids | Integration identifiers. For example integrationids=11,22,33 | Comma separated Integers

The work is minimal, so I will see if I can submit a PR

[2019-04-16 06:06] aliartiza75 commented on #93
Code for updown has been merged @kahootali I am closing this issue

[2019-04-16 06:06] #93 closed

[2019-04-16 06:21] aliartiza75 opened #159 "Use constants for statusCodes"
Currently, hard code values for the status code are being used like `200` and `404` etc, which is not easy to understand(for beginners) and error-prone(because we might need to updated all files for a single status code change).

### `OLD SOLUTION`
Instead of hard code values, constants must be used. A map has been defined in the `pkg/constants`  that contains the constants for status codes.

`fil

[2019-04-16 06:29] waseem-h commented on #159
@aliartiza75 You don't need a custom map for status codes. Go's `http` package has all of the status codes defined as a constant which you should use everywhere. https://golang.org/pkg/net/http/#pkg-constants

Just remove the above and use `http.StatusOK`, `http.StatusCreated` and so on

[2019-04-16 06:51] aliartiza75 opened #160 "Update the pagination logic in GetStatusPagesForMonitor method"
During the addition of new monitors for IMC, a bug was causing the uptimerobot unit tests to fail.

### ISSUE
After debugging two issues were found:

- Status pages created for monitors were not being deleted properly causing the number of status pages to raise to `65`.

- The way status pages are being pulled in `GetStatusPagesForMonitor` is not correct because the `uptimerobot` api return `50` r

[2019-04-16 07:04] aliartiza75 commented on #159
@waseem-h based on your suggestion, I have updated the issue

[2019-04-17 05:53] usamaahmadkhan commented on #94
Pingometer is acquired by Uptime and uses Uptime's API. Added support for Uptime in PR #156

[2019-04-17 05:53] #94 closed

[2019-04-17 05:54] usamaahmadkhan commented on #96
Added support for Uptime in PR #156

[2019-04-17 05:54] #96 closed

[2019-04-20 20:45] alandotcom opened #165 "Add support for DataDog Synthetics"
Datadog's uptime monitoring service, Synthetics, can now be configured via API.

I want to start looking into how to do at, but in case anyone else is working on it, let me know!

[Datadog Synthetics blog post](https://www.datadoghq.com/blog/introducing-synthetic-monitoring/)
[DataDog Synthetics API](https://docs.datadoghq.com/api/?lang=python#synthetics)

[2019-04-22 08:00] rasheedamir commented on #165
@lumberj that will be awesome! Looking forward to see the PR

[2019-04-22 08:02] rasheedamir commented on #158
@sharkymcdongles that will be awesome if you can submit a PR!

[2019-04-22 08:06] rasheedamir commented on #160
That will be awesome to fix @aliartiza75 !

[2019-04-22 08:07] kahootali commented on #158
@sharkymcdongles @rasheedamir, FYI @boxcee is working on it and has created a PR, some tests are failing, we are working on them, it will be fixed by today most probably

[2019-04-22 11:17] aliartiza75 commented on #158
the fix has been pushed,

#### `Test fail reasons`
In config tests test oracle was not being constructed correctly.

[2019-04-23 06:36] #158 closed

[2019-04-23 12:18] rayanebel commented on #89
Hello,
Do you have any update about this issue ?
I'm using IngressMonitorController with StatusCake and I'm really sad to expose the API KEY as plain text.

[2019-04-23 12:44] rasheedamir commented on #89
@rayanebel we haven't got time yet to work on it; we will love to have a PR; can you work on it?

[2019-04-23 19:22] lumberj opened #166 "Add structured logging"
Something like https://github.com/sirupsen/logrus. We run many different components internally, and use Datadog to monitor our logs for errors, etc. Having machine parseable logs (e.g., key=value, json) along with log levels.

I think this should be a simple drop in replacement,

By default, the Go logger logs to stderr, so by default everything shows up in my log aggregator at error level.

[2019-04-24 04:10] waseem-h commented on #166
I had plans to replace old logging a while ago. Good that you brought it up again @lumberj. I'll see if I can do it soon.

[2019-04-24 18:51] SunSparc opened #167 "ClusterRoleBinding section defined twice"
I was reviewing the `ingressmonitorcontroller.yaml` file to possibly use for my cluster. I found that the `ClusterRoleBinding` section was duplicated. Is this intentional?

You can see it first [here at line 140](https://github.com/stakater/IngressMonitorController/blob/master/deployments/kubernetes/ingressmonitorcontroller.yaml#L140) and then again immediately after [at line 155](https://github.c

[2019-04-24 19:53] rasheedamir commented on #167
Thanks @SunSparc this must be a bug; you want to create a PR?

[2019-04-24 21:23] SunSparc commented on #167
I just noticed that the `ClusterRole` is also duplicated. I wonder if the problem is somewhere else. This file is built from templates, correct?

[2019-04-24 21:31] SunSparc commented on #167
Oh, it looks like everything that came from `# Source: ingressmonitorcontroller/templates/rbac.yaml` is duplicated elsewhere.

[2019-04-25 08:15] kahootali commented on #167
@SunSparc This issue has been fixed in [PR#169](https://github.com/stakater/IngressMonitorController/pull/169).
Thanks for contributing.

[2019-04-25 08:15] #167 closed

[2019-04-25 20:29] lumberj commented on #165
@rasheedamir would you be opposed to using something like https://github.com/dnaeon/go-vcr for the tests? I would be able to run the tests against my account, but I'm not sure we can get a free account to test against. I can also reach out to Datadog and see what they can do.

[2019-04-25 21:13] SunSparc commented on #61
Looks like I am having the same problem as the original poster, in their second bullet about the port being used even if it is a string. I run the IMC and it comes up with this for the Monitor URL: `https://domain.com/http/status.txt`

It also looks like this tool just looks for the first host on the ingress and uses the readiness probe for first container on it to determine the health of the ingr

[2019-04-26 07:04] rasheedamir commented on #165
@waseem-h thoughts?

[2019-04-26 07:07] waseem-h commented on #165
@lumberj I don't have anything against mocking. Feel free to use go-vcr, gock or httpmock or any other library as long as it works for the usecase. I personally think that its good to use them for testing API's that are not free

[2019-04-26 13:29] kahootali commented on #89
@rasheedamir I believe it shouldn't be a breaking change and can have a parameter whether to mount from Configmap or Secrets, that defaults to Configmap else it will break for current users and one can change it if one wants secrets

[2019-04-26 13:29] kahootali commented on #89
@rayanebel We are gonna start work on it soon

[2019-04-26 20:36] lumberj commented on #165
Sounds good. I'll be able to record test cases against our account. Do you have experience with either go-vcr or httpmock? I haven't used either.

[2019-04-29 00:06] DhiaTN commented on #148
I've submitted a PR implementation for Statuscake  #170

[2019-04-29 00:27] DhiaTN commented on #159
I've submitted a PR to replace the hard coded values here: #171

[2019-04-30 02:35] lumberj commented on #165
I started writing tests today, but they're API is broken / not working properly, so this is probably going to take another week or two at least

[2019-04-30 13:08] boxcee commented on #107
@ahmadiq The documentation at https://github.com/stakater/IngressMonitorController#helm-charts points to the wrong repo, which is not updated at the moment. It still runs app version v1.0.47.

I think the documentation should point to https://github.com/stakater/stakater-charts or the chart should automaticall be uploaded to https://github.com/helm/charts, which was already addressed in #125.

[2019-05-01 04:22] DhiaTN opened #175 "Add contribution guide"
That would be amazing if the project has a contribution guide that makes it easier to contribute and run tests locally. I'm trying to run tests on master branch but it's already failing, so I'm not able to check wether my PRs or any change has broken something:
=> [Adding a Contributing File](https://help.github.com/en/articles/setting-guidelines-for-repository-contributors#adding-a-contributing-f

[2019-05-01 13:13] rasheedamir commented on #175
Very good idea @DhiaTN ; we must have one; can you make a PR?

[2019-05-01 13:13] rasheedamir commented on #166
@lumberj would you like to make a PR?

[2019-05-01 15:01] lumberj commented on #166
Sure I can look into it

On Wed, May 1, 2019 at 6:13 AM Rasheed Amir <notifications@github.com>
wrote:

[2019-05-01 15:08] DhiaTN commented on #175
@rasheedamir @usamaahmadkhan I need your help for that, as I'm failing to run tests locally and I couldn't find why.

[2019-05-02 04:34] lumberj commented on #166
I just pushed a PR that only replaces the standard logger. I want to also be able to change the logging format and log level. This is probably best done via env variables (e.g., LOG_LEVEL, LOG_FORMAT). What do you think?

[2019-05-02 06:30] usamaahmadkhan commented on #175
@DhiaTN  You need to set **CONFIG_FILE_PATH** variable. Refer to **GetControllerConfig()** method in **pkg/config/config.go**. Set your config file through this environment variable and then run the tests. I'll add the steps in docs as well.

[2019-05-02 08:33] #166 closed

[2019-05-05 20:39] grebois commented on #148
@xanonid @SinFulNard @DhiaTN why not having an annotation pointing to a secret for the credentials? this way you dont need to mount the secret into the deployment/pod for the get.env

[2019-05-06 12:28] kahootali opened #179 "Update IMC chart version in public helm charts"
Update the IMC version in [public helm charts](https://github.com/helm/charts/tree/master/stable/ingressmonitorcontroller) to latest IMC version

[2019-05-07 00:56] SinFulNard commented on #148
@grebois - I didn't have the thought at the time (or experience to achieve that). So went with what I could think of.

I agree, its likely a better method of exposing the secret.

[2019-05-09 16:59] lumberj commented on #165
Still working on this, I just haven't had time to wrap up the testing

[2019-05-10 13:27] grebois opened #180 "Incorrect liveness alert when ServicePort is non-numeric"
For example with an ingress like https://github.com/helm/charts/blob/master/stable/elasticsearch/templates/client-ingress.yaml#L42

[code]

the alert created is: `https://<host>/http` which of course fails because it does not exists.

When I change the servicePort back to its numeric value, the alert works just fine.

[2019-05-10 13:30] grebois commented on #180
Same problem with https://github.com/helm/charts/blob/master/stable/kafka-manager/templates/ingress.yaml#L38

[2019-05-14 10:52] #147 closed

[2019-05-17 12:27] grebois commented on #148
@SinFulNard are you at kubecon this next week? if you are lets talk about it f2f

[2019-05-17 14:44] hazim1093 commented on #148
Hi @grebois, me and @waseem-h will be there at KubeCon. We'd be happy to meet if you want to discuss something or just say Hi!

[2019-05-17 19:18] grebois commented on #148
Definitely, let's catch up, are you already in Barcelona? whazatpp me +49 152 0249 6483

[2019-05-20 16:47] grebois opened #182 "IMC creates the same alert if the pod is restarted"

[2019-05-20 16:47] grebois opened #183 "IMC only create the alert in StatusCake even when UptimeBot is configured"

[2019-05-20 16:48] grebois commented on #148
@hazim1093 @waseem-h @SinFulNard please leave this open for a bit longer I will work on a PR together with @DhiaTN to refactor this functionality, including https://github.com/stakater/IngressMonitorController/issues/182 and https://github.com/stakater/IngressMonitorController/issues/183

[2019-05-20 18:32] grebois commented on #182
Not sure how this works https://github.com/stakater/IngressMonitorController/blob/ce3e93222ca95d6c7173f7e8d438be2b5522a2d4/pkg/controller/actions.go#L71-L79

[2019-05-28 08:34] hazim1093 commented on #148
Hi, Sorry I didn't get notification for the comment, just saw :(

[2019-05-29 15:17] lumberj opened #184 "Allow a delay between Ingress creation and monitor creation"
When deploying a new service, DNS updates can take some time to propagate. We typically start getting alerts from uptimerobot right away so we have to either manually pause alerts from uptimerobot, or, apply the Ingress configuration twice (once without the annotation and then again with it).

It would be helpful to have a delay that can be configured either as a duration or timestamp (e.g., wait

[2019-05-29 18:56] rasheedamir commented on #184
great suggestion @lumberj ! looking forward for a PR

[2019-06-06 19:32] lumberj commented on #165
No longer working on this, as we decided Synthetics is too expensive for our use case. I am happy to help anyone else get started and share my work

[2019-06-23 15:58] usamaahmadkhan commented on #175
Contribution guide added as CONTRIBUTION.md by #178

[2019-06-23 15:58] #175 closed

[2019-06-24 10:25] usamaahmadkhan commented on #159
#189 to apply this to all monitors

[2019-06-25 14:50] e9169 opened #190 "Request: Possibility to specify the type of monitor for uptimerobot (http or keyword)"
In uptimerobot you can create different type of monitors. You can create http(s) (the ones supported by IMC), based on keywords, which is something really useful when you have health checks, and others like ping or port.

Could you please implement this feature (at least keyword) into IMC?

Thank you

[2019-06-26 06:22] usamaahmadkhan commented on #190
@e9169 It will be a nice feature to add. We will add it into our backlog and of course all PRs are welcome.

[2019-06-26 09:52] e9169 commented on #190
@usamaahmadkhan I'd happy to do the modifications and create the PR. However, I've been looking at the code and have some basic questions before I can proceed. Sorry but this would be my first contact with Go, never touched it before. Here we go:

I though that a good approach for this would be to specify a monitor type by default, let's say 1 (for http) and then the user could easily overwrite th

[2019-06-26 19:22] ejdejesu opened #192 "Monitor not deleted upon removing Ingress"
**Kubernetes Version**: 1.14.1
**Ingress Monitor Controller Version**: 1.0.47
**Provider**: Status Cake

Deleted the ingress with IMC annotation, but the monitor in StatusCake was not deleted.

[code]

[2019-06-27 06:40] usamaahmadkhan commented on #190
@e9169 yes the ideal way to do it would be to use the default type as HTTP (i.e. type=1) so that the changes are not breaking and can be overridden as per needed. You can see the annotations being overridden here. This would be enough for you to backtrack and add another annotation:
https://github.com/stakater/IngressMonitorController/blob/101f55515bcfd0bebaf0c40d2d78ca9580b0dcee/pkg/monitors/upti

[2019-06-27 06:57] usamaahmadkhan commented on #192
@ejdejesu  have you enabled this? https://github.com/stakater/IngressMonitorController/blob/835e24345b8c124dc26e16d60964ff6915efb3ad/deployments/kubernetes/ingressmonitorcontroller.yaml#L192

Also I suggest you upgrade to the latest version.

[2019-06-27 08:27] e9169 commented on #190
Thank you @usamaahmadkhan

If I do

[code]

Am I rewriting the type in here `body := "api_key=" + monitor.apiKey + "&format=json+&type=1&url="` or am I adding a new '&type' to the API request? This part is unclear for me yet.

[2019-06-27 14:09] briananstett commented on #192
**Kubernetes Version: 1.13.6**
**Ingress Monitor Controller Version: 1.0.77**
**Provider: Status Cake**

I too am having this issue. The monitor is created in status cake but fails to delete the monitor once the ingress has been deleted.

*Snippet from configmap*
[code]
Below are the logs I get when creating the ingress and then promptly removing it.
[code]

[2019-06-28 08:59] usamaahmadkhan commented on #190
No. Right now `type=1` is hardcoded in the `body`. You need to remove that and append the value.

[2019-06-28 12:31] e9169 commented on #190
@usamaahmadkhan The PR here: [https://github.com/stakater/IngressMonitorController/pull/193](url)

[2019-07-01 13:29] usamaahmadkhan commented on #192
@ejdejesu @briananstett `enableMonitorDeletion` annotation is working as expected. This issue is arising for monitors having uptime in decimal percentages. Tests run quickly that is why this use case could not be tested (because uptime is always 100%). this effects all versions. I'll make a PR soon and post an update on this thread. Thanks for reporting this issue

[2019-07-02 07:05] #184 closed

[2019-07-02 07:09] #160 closed

[2019-07-02 07:11] #180 closed

[2019-07-02 07:16] #159 closed

[2019-07-02 07:25] #89 closed

[2019-07-02 08:14] usamaahmadkhan commented on #192
fixed in v1.0.82

[2019-07-02 08:14] #192 closed

[2019-07-02 08:22] usamaahmadkhan opened #196 "update README for monitors updown and uptime"
we now support two new monitors for updown.io and uptime.com. Add these into README for documentation

[2019-07-04 12:23] usamaahmadkhan commented on #182
@grebois  can you provide some detailed description about this issue? thanks

[2019-07-04 12:30] usamaahmadkhan commented on #179
For now charts/version will be maintained on github. In future we want to move to helm hub

[2019-07-04 12:30] #179 closed

[2019-07-04 13:38] usamaahmadkhan commented on #146
@majodev log displays the **escaped string** although the monitor created inside uptimerobot is correct. Am I missing something here or is it just a problem with how IMC displays the log string?

[2019-07-05 11:41] grebois commented on #182
@usamaahmadkhan sure, lets say I have only one alert, and then I restart IMC pod, when it starts, it creates a second alert for the same ingress/service but with another alert ID, at least with StatusCake.

[2019-07-08 08:13] usamaahmadkhan commented on #182
@grebois  im unable to produce the bug you are reporting. I  reproduced the same scenario by adding an alert from statusCake. Then I restarted IMC and statusCake did not create a duplicate alert. rather it is just updating the existing monitor.
Here are the logs:

2019/07/08 12:54:56 Starting Ingress Monitor controller
2019/07/08 12:54:56 Monitor Name: mongodb-test
2019/07/08 12:54:56 Monitor URL:

[2019-07-08 08:27] usamaahmadkhan commented on #183
@grebois not able to reproduce this. I created an Ingress monodb-test, configured both UptimeRobot and StatusCake. restarted IMC and it successfully added monitor in both of them i.e. UptimeRobot and StatusCake.

Here are the logs:

2019/07/08 13:20:06 Starting Ingress Monitor controller
2019/07/08 13:20:09 Monitor Name: mongodb-test
2019/07/08 13:20:09 Monitor URL: http://mongo.stakater.com/test%

[2019-07-08 14:51] grebois commented on #183
Regretfully I have no env where I can test this right now, so I will take a leap of faith and close this issue.

If I stumble upon this situation again and/or find a way to replicate this behavior in production/vacuum I'll re-open it.

[2019-07-08 14:51] #183 closed

[2019-07-08 17:55] majodev commented on #146
@usamaahmadkhan Hm, I'm not sure anymore - could it be that the UptimeRobot API now properly unescapes the string, have not seen this problem in a while.

[2019-07-09 05:36] usamaahmadkhan commented on #146
@majodev maybe. Anyways i've tested the code just to be sure. Working fine as of now.

[2019-07-09 05:36] #146 closed

[2019-07-09 05:37] #196 closed

[2019-07-09 05:38] #145 closed

[2019-07-11 09:17] #190 closed

[2019-07-18 12:27] usamaahmadkhan commented on #182
@grebois did you get a chance to look into this?

[2019-07-18 14:18] grebois commented on #182
No, I did not, sorry, will close this for now and re-open it in case It happens again, thanks for looking up on this.

[2019-07-18 14:18] #182 closed

[2019-08-27 11:10] majodev opened #200 "panics with index out of range for ingresses with undefined spec.tls.hosts"
Hi,

looks like kubernetes supports `tls` definitions with undefined/empty `hosts` in their ingress objects. These definitions lead to an `index out of range` panic in IngressMonitorController.

StackTrace:

[code]

Steps to reproduce:

Create an ingress object with an empty/uncommented spec.tls.hosts:

[code]

[IngressTLS v1beta1 extensions](https://kubernetes.io/docs/reference/generated/kubernet

[2019-08-27 11:18] waseem-h commented on #200
Thanks for pointing out the bug @majodev . Feel free to create a PR to fix this or I will see if I can fix that when I have time :)

[2019-08-29 13:32] blackjid opened #202 "Add Freshping support"
https://www.freshworks.com/website-monitoring/

[2019-08-29 13:51] rasheedamir commented on #202
@blackjid would you like to make a PR?

[2019-08-29 13:55] blackjid commented on #202
I have proposed the Freeping people to take this via a support ticket.
Let's see if they want to take it.
I'm not really using Freeping (one reason was that there wasn't support in
IMC), I opened the issue so they can take it.

[2019-09-07 14:55] lukasmrtvy opened #203 "Add Cachet support"
It would be usefull to add support for some opensource uptime/statuspage tools.

For example: https://cachethq.io/ (https://github.com/CachetHQ/Cachet, API -> https://docs.cachethq.io/reference),  which is most advanced in this category afaik.

There are also: (just for info)
- https://github.com/bazzite/statusfy
- https://github.com/valeriansaliou/vigil
- https://github.com/adamcooke/staytus
- ht

[2019-09-07 18:53] rasheedamir commented on #203
Great idea @lukasmrtvy!

would you like to create a PR for cachet?

[2019-09-07 18:58] rasheedamir commented on #148
@grebois will you continue on this one?

[2019-09-07 19:03] rasheedamir commented on #140
@linki do you think you can create a PR for this?

[2019-09-08 02:51] grebois commented on #148
@rasheedamir not for the moment, but I would like to keep it open.

[2019-09-08 18:31] rasheedamir commented on #148
ok sure! @grebois

[2019-09-11 06:36] usamaahmadkhan commented on #200
@majodev fixed in version 1.0.86. Kindly close this issue.

[2019-09-11 10:03] majodev commented on #200
awesome, thx!

[2019-09-11 10:03] #200 closed

[2019-09-11 14:46] linki commented on #140
Do you have some guidance how to add another monitoring solution, e.g. which existing one would be a good starting point, what interface to implement, what to look out for in general?

[2019-09-11 15:37] rasheedamir commented on #140
https://github.com/stakater/IngressMonitorController/blob/master/CONTRIBUTING.md#adding-support-for-a-new-monitor

Hopefully it's updated and should be a good starting point and also we are on slack

[2019-09-11 15:50] linki commented on #140
Thanks!

[2019-09-25 12:02] boxcee opened #205 "Values for chart indicate wrong configuration for secrets"
The chart [values.yaml](https://github.com/stakater/IngressMonitorController/blob/ca949f8c1f00aea5523c9470ff3bfa073c181b3e/deployments/kubernetes/chart/ingressmonitorcontroller/values.yaml#L47) suggest to put the secrets into the `configMap`.

[code]

It is wrong. Looking at the [deployment.yaml](https://github.com/stakater/IngressMonitorController/blob/ca949f8c1f00aea5523c9470ff3bfa073c181b3e/dep

[2019-09-25 13:00] usamaahmadkhan commented on #205
@boxcee thanks for pointing it out. I'll note it down on my TODO list.

[2019-09-27 11:07] usamaahmadkhan commented on #205
fixed in v1.0.87.

[2019-10-03 19:17] rasheedamir commented on #205
fixed by #206

[2019-10-03 19:17] #205 closed

[2019-10-06 16:10] jjshanks opened #207 "Convert Glide to Go modules"
According to the glide documentation:

[code]

I also had issues building this project using go 1.13 using glide.

[2019-10-07 17:39] jjshanks opened #210 "Monitor creation delay ignored"
Sometimes we get monitors trigger right after deployment even with a 10 minute delay set. It looks like what is happening is `onResourceUpdated` is getting called which causes the monitor to be created at that time and then approximately after the configured delay we'll see a `"Monitor already exists for ingress` log

[2019-10-25 10:37] Berndinox opened #212 "Not able to List Ingresses"
`E1025 10:28:35.348694       1 reflector.go:205] pkg/mod/k8s.io/client-go@v6.0.1-0.20180103015815-9389c055a838+incompatible/tools/cache/reflector.go:99: Failed to list *v1beta1.Ingress: ingresses.extensions is forbidden: User "system:serviceaccount:uptimerobot:ingressmonitorcontroller" cannot list resource "ingresses" in API group "extensions" at the cluster scope
`

K8s 1.15.5

Install via:

`kub

[2019-10-29 07:12] #210 closed

[2019-11-04 06:05] usamaahmadkhan commented on #212
@Berndinox ingressmoitorcontroller is working fine on k8s version 1.13.* .I have tested on a minkube 1.15 instance and facing the same issue. will keep you posted on this thread.

[2019-11-04 06:06] usamaahmadkhan commented on #207
fixed in v1.0.89

[2019-11-04 06:06] #207 closed

[2019-11-08 11:17] majodev opened #213 "http2: No cached connection was available"
Hi,

We are seeing these error logs after running for a while (> 3days), requiring us to fully kill the pod so new monitors (UptimeRobot) are created again. Seems like, it's just looping around from there:

[code]

[2019-11-08 13:15] usamaahmadkhan commented on #213
Hi @majodev , Can you tell which k8s version are you using and what are your configurations?

[2019-11-08 14:45] majodev commented on #213
v1.14.7-gke.10

[code]

[2019-11-11 12:12] tomjohnburton opened #214 "Invalid application key error even though it's correct - Pingdom"
Am I doing something stupid here...?
This is my config map set up

[code]

Just constantly fails with `msg="Error received while listing checks:  403 Forbidden: Invalid application key"
`

[2019-11-11 12:35] tomjohnburton commented on #214
Pingdom has since updated their api with different to accept a different kind of `apiKey`. Has this change been reflected in the code?

Also it would be worth updating the tutorial documentation to reflect this.

https://medium.com/stakater/automating-uptime-monitoring-on-kubernetes-with-pingdom-6a40977f82e1

[2019-11-12 10:27] usamaahmadkhan opened #215 "Create support in charts to use already created secrets for config"
Right now the secrets are created for the data field in the charts. Add support for config to be taken from already created secrets.

[2019-11-13 19:10] rasheedamir commented on #214
Hi @tomjohnburton we haven't made any changes in the code to use the new API :( would you like to make a PR?

We mostly work & maintain uptimerobot!

If you can't then we will definitely update the code and the tutorial as soon as we get time; great thanks for pointing out

[2019-11-18 14:14] Ferlonas opened #217 "Make readiness probe checking configurable for Ingress/Routes"
When an ingress defines a path, and the deployment has a readinessProbe path defined (it doesn't matter of the paths are the same or different), the controller will create a monitor for ingress-host/ingress-path/readiness-path. This will result in 404 errors, as the only correct available paths are ingress-host/ingress-path and ingress-host/readiness-path.

Using readinessProbes for monitoring sho

[2019-11-22 07:17] usamaahmadkhan commented on #217
@Ferlonas Yes right now only first rule is used for ingresses. Would you like to contribute a PR for readinessprobe issue?

[2019-11-22 07:59] usamaahmadkhan commented on #217
The logic to get the readiness/health path is already there. I think we need to return a list of URLs for  host URL and readiness/health URL. @waseem-h  what do you think? Also this needs to get fixed for openshift routes as well

[2019-11-22 08:22] Ferlonas commented on #217
@usamaahmadkhan I might open a PR once I find the time to do so. I'll have to take a look at the code though to see if I can find a good solution.

[2019-11-28 08:46] #215 closed

[2019-12-07 02:58] jseiser opened #220 "GetByName Request failed for name"
I am unable to get this to work, asked in slack and was told to post a bug here.

HelmRelease
[code]

Image
`image: stakater/ingressmonitorcontroller:1.0.47`

Container
[code]

I can hit the Ingress from the container

[code]

Logs
[code]
The API key works.

[code]

Ingress Annotation
[code]

Im really at a loss for what else to look at.

[2019-12-07 18:09] usamaahmadkhan commented on #220
[code]
It seems like IMC cannot find a monitor named `fakecustomer1.domain.com.` in its registered monitors. Can you confirm if the monitor is actually created via the uptimerobot web console? Does this problem persists with other versions as well? Have you tried another version perhaps the latest one?

[2019-12-08 02:50] jseiser commented on #220
it is not creating the monitor in Uptime Robot.

I also upgraded to `"stakater/ingressmonitorcontroller:v1.0.91"` and the issue remains.

[2019-12-09 12:01] usamaahmadkhan commented on #220
try with `monitor.stakater.com/name: test-name`. I'll try to reproduce this locally at my earliest availability.

[2019-12-09 16:05] jseiser commented on #220
[code]

[2019-12-09 17:00] jseiser commented on #220
I also created a new uptime robot account and tried again.  Same issue persists.

Is there a way to turn on debug logging?

[2019-12-09 19:53] jseiser commented on #220
I would like to apologize for wasting your time.  The problem is i did not have the trailing `/` on my API resource.

Again, its clear in the documentation, and I failed to properly follow it.

Closing out.

[2019-12-09 19:53] #220 closed

[2019-12-10 06:10] usamaahmadkhan commented on #220
@jseiser no problem. Thank you for opening an issue.

[2019-12-13 11:55] #130 closed

[2020-01-04 03:45] vfiset opened #221 "All ingresses are reported as 404 by IMC"
Hi, running IMC `1.0.47` installed with the official stable helm chart `1.0.48` on gke.

I am getting `404`s on all my ingresses in the IMC logs but when I install curl on the pod then I curl the same urls I am getting results ...

Am I missing something?

[code]

[2020-01-04 06:30] usamaahmadkhan commented on #221
@vfiset can you share the manifests and provider config you are using?

[2020-01-05 04:35] vfiset commented on #221
Hi @usamaahmadkhan. I use pretty much the vanilla config from the stable helm chart:
[code]

which manifests are you interested in ?

[2020-01-06 07:05] usamaahmadkhan commented on #221
@vfiset as the stable repository is being depricated. We dont maintain it anymore. The new home for ingressmonitorcontroller charts is `https://stakater.github.io/stakater-charts/`. Are you facing this issue  with the latest release as well?

[2020-01-06 15:46] vfiset commented on #221
oops! my bad did not realize that.

I am not facing the same issue but something else:

[code]

[2020-01-06 15:47] vfiset commented on #221
the only change from my original post is:
[code]

[2020-01-06 16:19] zonorti opened #222 "Pingdom: Make alertContacts configurable from annotation"
When using IMC with Pingdom we want to route alerts to different contacts depending on the service.
It is currently possible to use an annotation for custom integration, but not for the contact.
Probably something close to https://github.com/stakater/IngressMonitorController/blob/master/pkg/monitors/pingdom/pingdom-monitor.go#L168
Thanks!

[2020-01-06 16:59] usamaahmadkhan commented on #221
@vfiset We pass the config in configMaps as a string. with the key being `data`. in helm terms, the config exist at `.Values.ingressMonitorController.data.config.yaml` as a string value.  My guess is the values you are setting are not being set at the right level. Can you provide me the output of this command? Check the output of this command:
 `kubectl get configmap ingressmonitorcontroller -n de

[2020-01-06 17:36] rasheedamir commented on #222
Yeah correct @zonorti ! PR's are more than welcome

[2020-01-06 20:38] vfiset commented on #221
You were right @usamaahmadkhan ! by switching to config into the data.config section it works !
[code]

thanks for the support!

[2020-01-07 06:13] #221 closed

[2020-01-09 20:18] jseiser opened #223 "Helm Chart doesnt support creationDelay or resyncPeriod"
The helm chart, doesnt provide the ability to set these options.

[2020-01-09 20:31] jseiser commented on #223
https://github.com/helm/charts/pull/19996

[2020-01-27 18:23] jseiser commented on #223
Any assistance on getting the above merged would be great.

[2020-01-27 19:04] rasheedamir commented on #223
@jseiser sorry for the delay; i have approved it now

[2020-01-27 20:52] jseiser commented on #223
@rasheedamir

Thanks.

Im getting caught up on this

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/helm_charts/19996/pull-charts-e2e/1221860926861348864/

Im not sure how to even fix that.

[2020-01-27 21:05] rasheedamir commented on #223
strange; @kahootali any idea what could be wrong?

[2020-01-28 06:54] usamaahmadkhan commented on #223
@jseiser since 1.0.56 the image tag is prefixed with **v** so the tag should be **v1.0.92** . e2e job cannot find the tag 1.0.92 from the image registry.

[2020-01-28 08:01] kahootali commented on #223
@jseiser Sorry for the delay, but as helm/charts is deprecating, so we don't update the public chart frequently. Rather as the chart is hosted in this repo so we recommend using this because it has all the latest changes and is updated whenever a new feature/bugfix is released.

[2020-01-28 18:04] jseiser commented on #223
@kahootali

Any chance you guys will host the chart, not in the git repo?  I only ask, because we use Weave Flux, and i dont want to have to manage adding a SSH key to it to clone straight from git.

If not, Its not a problem I can host it internally on our chart museum.

[2020-01-29 06:38] kahootali commented on #223
@jseiser We have hosted the chart, it is present at [stakater-charts](https://stakater.github.io/stakater-charts/)
I will update the README and add this repo in the helm section

[2020-01-29 07:19] kahootali opened #224 "Add Helm chart's configuration and parameters table"
Previously IMC was hosted on public stable helm repo, but as that is being deprecated so moving to Stakater's repository, so we need to add chart's configuration and parameters table in this repo as well like in the stable chart's repo with updated configuration

https://github.com/helm/charts/tree/master/stable/ingressmonitorcontroller#usage

[2020-01-29 13:40] #223 closed

[2020-02-03 07:39] usamaahmadkhan opened #226 "Add support for requests and limits for imc chart"
- request and limit should be supported as it is best practice
- default value so upgrade is smooth

[2020-02-03 15:16] Yggdrasil opened #227 "How to deal with newer Ingress Controllers that use CRDs instead of Ingress resource?"
The newer versions of Nginx and Traefik ingress controllers have switched to using CRDs (Custom Resource Definition) instead of the common Ingress resource.

This is because the Ingress resource is not flexible enough to deal with more complex routing requirements. It appears the Kubernetes developers agree that moving to custom resources is the path forward, instead of expanding the Ingress defin

[2020-02-03 20:54] rasheedamir commented on #227
@Yggdrasil we have a plan to change IMC to CRD as well!

PR will be very welcome! would you like to write one?

[2020-02-04 12:03] zonorti commented on #222
Closed in #228, thanks @tuananhnguyen-ct

[2020-02-04 12:03] #222 closed

[2020-02-18 17:05] rasheedamir opened #230 "[Major Update] Refactor IMC to be an Operator"
TODO

[2020-02-26 22:05] twardnw opened #232 "Choose either .version or .VERSION file"
Case-insensitive filesystems are not able to deal well with both `.version` and `.VERSION` existing in the repo. Can one be chosen please?

[2020-03-04 21:58] twardnw commented on #232
Thanks, I appreciate it. I was working on a PR for the uptimerobot improvements, merged this in, and now can't do anything at all in the repo 😔

[2020-03-05 04:46] tuananhnguyen-ct opened #238 "basic-auth via ingress annotation"
We are deploying ingressmonitorcontroller (using helm) on its own namespace, and having ingress(es) running on other namespaces. Some of them have basic-auth enabled (using https://kubernetes.github.io/ingress-nginx/examples/auth/basic/). The secrets therefore are managed with another helm chart and stored in other namespaces with different format (htaccess).

I tried setting up the pingdom authen

[2020-03-07 09:00] rasheedamir commented on #238
@tuananhnguyen-ct sounds like it will be a good addition; please create a PR

[2020-03-10 09:03] #224 closed

[2020-03-10 12:21] #232 closed

[2020-03-11 22:40] travisghansen opened #244 "Add chart configmap checksum"
Can you please add a checksum annotation for the configmap to force the controller to reload (restart pods) in the case of a config update?

[2020-03-17 19:00] travisghansen opened #245 "Uptime returns a json unmarshal error"
I'm attempting to use the `uptime` configuration and it works fine to create entries, but deleting them and generally looking up the entries is failing:

[code]

I've confirmed my `apiKey` has access to the relevant endpoint.

After digging through the code briefly it also appears paging of any sort is missing to work when lots of monitors are defined.

Some potential options to add to the `GetAll

[2020-03-17 20:20] rasheedamir commented on #245
@travisghansen would you like to make a PR for the issue with listing and deleting?

Great suggestion for pagination support & also for global tags; please create separate issues for them

[2020-03-17 20:27] travisghansen commented on #245
I'm pretty abysmal at `go` or I'd be more help :(

[2020-04-03 20:04] rasheedamir commented on #244
@travisghansen can you please create a PR?

[2020-04-10 13:22] jseiser opened #247 "Configuration Question"
I am wondering if this is unique to my situation, or Im just doing something wrong.

Using the uptime robot configuration, with these 2 settings.

[code]

App1
2:49 pm: Deploy new Chart with an ingress
2:52 pm Get notification its 'down'
3:04 pm Get Notification its up.

App2
2:58 pm: Deploy new chart with an ingress

never get a slack notice its down/up

In uptime robot itself i can see

App1
Sta

[2020-05-12 21:30] twardnw opened #248 "Add monitoring of a path in UptimeRobot via an annotation on the ingress"
It would be helpful if each monitor can specify a `path` to watch. This can allow monitoring on a path which could bypass any caching, providing more useful monitoring on a site.

[2020-05-12 21:30] twardnw commented on #248
Can't assign to myself, but I am currently working on a PR for this.

[2020-05-12 21:38] twardnw commented on #248
😂nvm, the uptimerobot API doesn't support this directly, will implement a different way

[2020-05-12 21:38] #248 closed

[2020-05-14 18:47] streetmapp opened #249 "Uptime: Create monitor with content check"
I am working to integrate IMC with Uptime.com. Things are going well and well on my way. However, ran into an interesting scenario where I would like to create a monitor that also makes a content check on the page as well. From the looks of things, that's not something presently available. Is this something that could get added via an annotation just like some of the other fields for uptime.com?

[2020-05-14 18:52] streetmapp opened #250 "Uptime: Contacts field from the config file not used"
In configuring my Uptime.com account, have deleted the "Default" contact group that was present on signup. I have replaced that with a different name and updated the config to reflect that. When I went to let IMC create a monitor with those configurations, I received an error that no contact group with the name of "Default" existed. In my instance, this was true as the "Default" contact group no l

[2020-05-15 10:19] rasheedamir commented on #249
What do you mean @streetmapp ?

[2020-05-15 12:36] streetmapp commented on #249
So when doing an http check on uptime, there are optional settings where you can set a "string to expect" so that the monitor also looks at the content of the page when doing the check. If the text doesn't appear, then it will alert. In looking at their test API and having it list out one of my monitors that has this set, it looks like these are the two fields that would have to be supported.

[co

[2020-05-17 09:28] rasheedamir commented on #249
Got it! yes we should be able to handle it via annotations; please make a PR

[2020-05-17 09:31] rasheedamir commented on #250
right then code might have been using a hardcoded value; would you like to create a PR?

[2020-05-18 14:34] RobertTownley opened #251 "Add instructions for installation via helmfile"
There are great docs in place for installing the required IMC resources via a k8s manifest, or via a `helm install` command. But for users managing the deployment of their helm charts within helmfile, it could be helpful to have a documented example of what a helmfile for the IMC can look like, since the formatting for overriding values differs from a normal helm or k8s apply installation.

[2020-05-19 07:03] usamaahmadkhan commented on #251
@RobertTownley are you looking for these? https://github.com/stakater/IngressMonitorController/blob/master/deployments/kubernetes/chart/ingressmonitorcontroller/README.md

[2020-05-19 16:23] majodev commented on #146
Unfortunately seems like this is happening again. `ingressmonitorcontroller-v1.0.98` with uptimerobot (same as above).

[code]

`?` becomes `%3F`
[code]

[2020-05-23 16:57] jrkarnes opened #253 "Helm values.yaml should be more dynamic"
When looking at how IMC is configured, the current helm chart creates a `configMap` object which has the following default values:

[code]

_Sourced from the `data` attribute in `values.yaml` which has the following default:_

[code]

This is not friendly to configure at all with an external `values.yaml` file to define how you would like your installation of IMC to take place for a few reasons:

[2020-06-01 14:14] bogdanalov-sw commented on #214
Hey guys. @rasheedamir any updates on this one? I am just trying it and I see the same errors. BTW I am currently playing with it and I am wondering, why do you need username and password for pingdom? You can create checks, list checks with the provided apiKey & apiUrl as long as it has read/write permissions. Probably, you can consider removing it at all.

[2020-06-03 15:49] ehdieunguyen opened #255 "How to handle in the case only ingress path configured"
Hi, I am trying to apply this project to our k8s cluster, and integrate with Pingdom.
I have a case need your help, it likes the following:

[code]

and in the ingress monitor controller pod logs

[code]

I tried to read the documentation but I don't found any guides to help me resolve this problem.
So, does anyone know, pls give me some help. Many thanks.

[2020-06-03 16:42] #255 closed

[2020-06-05 11:40] Juhibhadviya19 commented on #214
I am also facing the same issue. Any ETA by when can we expect this to be fixed?

[2020-06-25 04:20] domhdp opened #257 "Using Uptime Robot interval annotation stops monitor creation"
We are using IngressControllerMonitor in production, and have an upgraded Uptime Robot account that allows for monitoring intervals down to 1 minute.

When we use the annotation `uptimerobot.monitor.stakater.com/interval` with a value of "1" I noticed from the logs that the monitors were not being created. When I remove this annotation the monitor was created as expected.

I haven't looked into th

[2020-06-25 04:26] twardnw commented on #257
Per the Uptime Robot API, this should be a value in seconds

https://uptimerobot.com/api

[2020-06-25 04:36] domhdp commented on #257
@twardnw Ah of course. I should have sent to 60.

Thanks!

[2020-06-25 04:51] #257 closed

[2020-06-29 03:46] twardnw opened #258 "how to structure multiple values for uptime robot status pages"
I am working on an improvement to the Uptime Robot integration to allow for a monitor to be added to multiple status pages (at Uptime Robot). The Uptime Robot API does not allow for this directly, so in uptime-monitor.go i will need to iterate a list of page IDs that a monitor should be added to.

As such, my question is about how to structure this list of IDs in the `uptimerobot.monitor.stakater.

[2020-06-30 17:18] waseem-h commented on #258
We already have alert contacts separated by hyphens which is what Uptime robot supports. So its better to use the same for any other annotation that needs to be a list and is specific to Uptime robot @twardnw

[2020-06-30 17:19] twardnw commented on #258
Thanks @waseem-h , I'll have a PR relating to this shortly for you all :)

[2020-06-30 17:19] #258 closed

[2020-07-17 10:14] #244 closed

[2020-07-20 23:10] twardnw opened #263 "Determine a way to handle invalid status page for Uptime Robot"
Currently, if the `uptimerobot.monitor.stakater.com/status-pages` annotation exists on a route, the controller will attempt to add it to whatever is listed as the value. In situations where this is null or false, it causes a panic and the controller crashes.

I would propose that before the controller attempts to add a monitor to a status page, it would validate that the status page is properly se

[2020-07-28 05:24] ahmedwaleedmalik opened #265 "Add a separate Custom Resource for IMC configuration"
Currently, we are using a secret to pass on the config file. A CR should be used for that.

[2020-07-28 05:26] ahmedwaleedmalik opened #266 "Add status in EndpointMonitor CR"
Add a condition `MonitorAvailable` in `status` of EndpointMonitor CR that will represent the status of the corresponding monitors based on their availability.

[2020-07-28 05:27] #251 closed

[2020-07-28 05:31] ahmedwaleedmalik opened #267 "Add support for limiting monitors to a list of providers specified in EndpointMonitor CR"
`providers` field exists in the CR for this purpose but this has not been implemented yet. Make `providers` a required field and then perform CRUD operations only for the specified providers against a CR

[2020-07-28 05:33] ahmedwaleedmalik opened #268 "Add helm chart for operator"
With migration from controller to operator, we removed the helm chart out of the operator. Add helm chart back again since it's required for ease of use.

[2020-07-28 05:34] ahmedwaleedmalik opened #269 "Add metrics for operator"
Add metrics based on monitor created/deleted, availability etc.

[2020-08-03 15:57] maennchen commented on #140
Status Update: With #254, support for Uptime Checks should be done. The alert policies are not done yet.

[2020-08-06 18:40] rasheedamir commented on #253
@jrkarnes totally agreed it's much more readable

can you make a PR?

[2020-08-06 18:43] rasheedamir commented on #127
This has been taken care in new operator based version starting from **2.0.0**

[2020-08-06 18:43] #127 closed

[2020-08-06 18:46] rasheedamir commented on #212
@Berndinox this issue has been fixed in the latest release; please give it a try; for now I am closing this issue and you can re-open: https://github.com/stakater/IngressMonitorController/releases/tag/v2.0.0

[2020-08-06 18:46] #212 closed

[2020-08-06 18:48] rasheedamir commented on #213
@majodev please try the latest version: https://github.com/stakater/IngressMonitorController/releases/tag/v2.0.0

we have redone the controller as operator; if you still see this issue then reopen it

[2020-08-06 18:48] #213 closed

[2020-08-12 18:50] rpiskule-syn commented on #214
@rasheedamir
Looks like you have a pretty complicated situation on your hand right now...

You are depending on this library...
https://github.com/russellcardullo/go-pingdom

Which *also* has the same API Key problem.. Basically, Russel needs to update his library, before your ingress-controller will. He actually wrote a terraform plugin which depends on his library, that's how I ended up finding

[2020-08-12 19:04] rpiskule-syn commented on #214
Also... Just so you know...

There is a pull request to Russel to update his libary...

https://github.com/russellcardullo/go-pingdom/pull/57

[2020-08-12 19:11] rpiskule-syn commented on #214
Once that pull request gets merged, it should be a pretty easy fix. You should just need to drop the username/password/account e-mail and only support the API token.

[2020-08-18 12:02] onedr0p commented on #268
This would be amazing, thanks!

[2020-09-08 14:53] jrkarnes commented on #253
I would, but I don't know or program in the `Go` language. It looks like the way that you have your project set up in such a fashion that there is a lot of interdependency between how your configuration is expressed and consumed.

If I knew `Go`, I would definitely help you.

[2020-09-15 15:27] rpiskule-syn commented on #214
@rasheedamir
The library you depend on, go-pingdom was just updated yesterday to address this problem.

https://github.com/russellcardullo/go-pingdom

Any chance you could update your code? It should be very easy-- basically you just drop the Username, Password, and AppKey, and replace that with an API key. It really ought to just be removing and renaming some variables in the constructors.

[2020-09-15 15:28] rpiskule-syn commented on #214
One other thing, the way Russell altered his code was such that it is no longer compatible with API v2 for pindom, so this would be a breaking change for anyone who updates. I think that is reasonable, because the V2 API will be deprecated in december.

[2020-09-20 11:09] invidian commented on #268
There is some chart here: https://github.com/helm/charts/tree/master/stable/ingressmonitorcontroller, but the stable repo is deprecated, so it would be nice to have chart adopted here.

[2020-09-20 11:33] invidian opened #280 "Watching fails on Kubernetes 1.19.2"
Operator prints following logs:
[code]

[2020-09-20 17:38] rasheedamir commented on #280
which version of IMC are you using @invidian?

[2020-09-20 17:42] invidian commented on #280
Docker image `stakater/ingressmonitorcontroller:v2.0.2`, from manifests on `master` branch.

Kubernetes version:
[code]

[2020-09-20 17:46] invidian opened #281 "Project URL http://imc.stakater.com/ broken"
[code]

[2020-09-20 17:50] rasheedamir commented on #280
Got it! It is due to the fact that now ingresses have been moved to `networking.k8s.io/v1beta1`

[2020-09-23 13:29] ahmedwaleedmalik commented on #281
Thanks for pointing it out. I'll update this

[2020-09-23 13:47] stakater-user commented on #281
Fixed, the updated url is https://stakater.com/opensource

[2020-09-23 13:47] #281 closed

[2020-09-23 13:52] ahmedwaleedmalik commented on #281
Updated, the updated URL is https://stakater.com/opensource

[2020-09-23 17:19] invidian commented on #281
@ahmedwaleedmalik thanks for taking care of it, Now I found out that Staketer has even more interesting controllers :)

[2020-10-14 11:40] dicolasi opened #285 "GetByName Request failed - Status Code: 404"
I am using the following chart
[code]
with the following configuration:
[code]

However, got the following error from the pod:

[code]

Basically, every ingress returns 404, which is never the case. Am I missing something?

[2020-10-21 18:38] ahmedwaleedmalik opened #288 "Use github actions for pipeline"

[2020-10-22 08:56] artemlive commented on #214
I've made PR #287 with a fix of this problem and it has been merged.

[2020-10-27 08:47] llivingstone opened #292 "StatusCake statuscode configuration not implemented"
Hi,

Is there a reason why that the `providerConfig.StatusCodes` is not used inside the StatusCake implementation?

https://github.com/stakater/IngressMonitorController/blob/master/pkg/monitors/statuscake/statuscake-monitor.go#L83

The API seems to support a comma separated list of statuscodes to alarm on as per https://www.statuscake.com/api/Tests/Updating%20Inserting%20and%20Deleting%20Tests.md

[2020-10-28 08:27] ahmedwaleedmalik commented on #292
Hi @llivingstone, there is no specific reason for it being missing but yes it should have been implemented. PR for this would be a great addition :)

[2020-10-28 08:41] llivingstone commented on #292
@ahmedwaleedmalik Great, I should have some time next week to come up with a PR 👍

[2020-11-02 21:27] artemlive opened #293 "Pingdom duplicate checks creation"
Hello, the community!
I have found one major issue with Pingdom API integration. At some point, I discovered that my Pingdom monitoring slots have been significantly reduced. I checked my Pingdom account and found so many checks with the same name.
Here is the screenshot with a duplicated check example from Pingdom UI: https://prnt.sc/vbyhjm
During the investigation, I found such lines in the IMC

[2020-11-03 10:28] Slutzky commented on #280
Hi @rasheedamir and @invidian

Is there solution or workaround for this problem ?

I'm getting the same error.

[2020-11-03 18:14] invidian commented on #280
I mean, you could downgrade Kubernetes as a workaround...

Code and dependencies needs to be updated in the project, so new APIs are used to watch for the resources.

[2020-11-03 19:02] Slutzky commented on #280
hmm, do you know what version of the k8s should be to solve this issue ?

[2020-11-03 19:15] invidian commented on #280
Actually, it seems this can be fixed by adding extra grants to the cluster role, as in https://github.com/stakater/IngressMonitorController/pull/295, which is sufficient to resolve this.

Used APIs should still be updated to avoid using deprecated APIs though, but I suppose this should be reported separately. Also, it will still work fine until Kubernetes 1.22 IIUC.

[2020-11-03 19:17] Slutzky commented on #280
I will tried, I think I tried to change the role.yaml and it didn't work but maybe I missed something.. I will keep you posted. thanks a lot!

[2020-11-03 19:27] Slutzky commented on #280
looks better after changing the role.yaml file. Thanks!

[2020-11-12 09:36] ahmedwaleedmalik commented on #293
As far as i understand the issue:
- You need to create a compactor for pingdom to avoid creation of multiple monitors because i think in each reconcile loop it's creating a new monitor in your case probably. https://github.com/stakater/IngressMonitorController/blob/442fc1b678b2e78d0f86a29d73255258e3c532ef/pkg/monitors/pingdom/pingdom-monitor.go#L31

- findMonitorByName should not ignore the error

[2020-11-12 10:14] #280 closed

[2020-11-12 11:36] artemlive commented on #293
@ahmedwaleedmalik hello, thanks for your reply.

It won't create new monitors every reconciles iteration if there weren't errors during an API call. With the current algorithm, reconcile doesn't check any errors during API calls, it just marks monitor as non-exist and doesn't handle API error itself.
Our main issue is if there was a problem with the API request (e.g. some service issue and it resp

[2020-11-27 13:21] magneticz commented on #268
Hi all, i've been working on IMC at my work and created initial version of the helm chart for our use based on old helm chart and resource definitions in `./deploy` folder. Now, I am new to kubernetes and helm, but I would be happy to create PR and refine the chart with your help. Would you guys be interested in PR?

If yes, another question would be where should I create the PR? As @invidian  poi

[2020-11-28 09:29] rasheedamir commented on #268
PR's are always welcome @magneticz!

We will be hosting our charts here: https://github.com/stakater/stakater-charts

[2020-11-30 09:28] magneticz commented on #268
@rasheedamir great, then you can assign this issue to me, i will create PR soon

[2020-12-03 14:57] llivingstone commented on #292
Hi @ahmedwaleedmalik, Just an update that we should have some time for this soon on our scope to make a PR regarding this.

[2020-12-03 15:24] llivingstone commented on #292
https://github.com/stakater/IngressMonitorController/pull/298/files

[2020-12-03 19:28] twardnw opened #299 "add support for custom_http_statuses in Uptime Robot"
https://uptimerobot.com/api/

must be sent as 404:0_200:1 to accept 404 as down and 200 as up

[2020-12-04 10:08] ahmedwaleedmalik commented on #288
Done with https://github.com/stakater/IngressMonitorController/pull/300

[2020-12-04 10:08] #288 closed

[2020-12-09 08:36] llivingstone commented on #292
Hi @ahmedwaleedmalik - any update on the PR?

[2021-01-04 10:29] namm2 commented on #285
@dicolasi It seems like Pingdom removed support for API version 2, could you create a new Pingdom token, upgrade to v1.0.103 then update configs to below?

[code]

It seems like I forgot to update the main README.

[2021-01-04 11:47] talha0324 opened #303 "Monitor not update on uptimerobot side"
**Scenario:**
I have a endpoint monitor added to my CRDs, lets say endpoint `abc`. Now I update my endpoint monitor definition in CRD. IMC logs that `abc` monitor is updated.

**Issue:**
Monitor `abc` is never updated in uptime robot, unless you delete it manually.

**Workaround:**
I have to manually delete the monitor `abc` from updtime robot , then IMC creates a new entry of `abc` monitor in upt

[2021-01-21 15:19] rasheedamir opened #305 "Add Instana support"
Instana: https://www.instana.com/

[2021-01-21 22:12] twardnw opened #306 "Add delay for monitor deletion"
We have a scenario where an ingress is "moved" across two namespaces as part of a blue/green deployment. However, to accomplish this, it requires deleting the ingress from one namespace, and recreating it on the other. Currently, the ICM deletes the monitor _immediately_ when the ingress is removed, and then creates a new monitor as soon as the creationDelay passes. It would be good to have a conf

[2021-01-22 07:53] hanlin513 commented on #305
Here is a suggestion for a basic implementation of an Instana monitor. Note that there are a couple of questions included in the text where there are some uncertainties.

The aim of this implementation is to create a basic monitor for Instana APM.

Basically, the implementation will use the Instana API for adding Application perspectives:
https://instana.github.io/openapi/#tag/Application-Settings

[2021-01-27 05:40] ahmedwaleedmalik commented on #303
That's a very vague description. Can you be more specific with examples ?

[2021-01-28 17:43] twardnw commented on #299
turns out this does exist in the CRD now

https://github.com/stakater/IngressMonitorController/blob/master/deploy/crds/endpointmonitor.stakater.com_endpointmonitors_crd.yaml#L194-L197

[2021-01-28 17:43] #299 closed

[2021-01-31 21:05] sharkymcdongles opened #310 "Feature Request: Expose more check options for providers e.g. auth token headers"
For example you can configure all of the below for statuscake:

![StatusCake - Adding New Test](https://user-images.githubusercontent.com/29139537/106397939-5009b580-6410-11eb-8aa2-be9cff14d5e3.png)

It'd be cool to be able to do this via the endpointmonitor CRD instead of just basic auth as some checks require different auth methodology.

[2021-02-01 22:23] twardnw opened #311 "ClusterRoles should be aggregated to default `admin` and `edit` roles"
So that ServiceAccounts which are part of the default roles on a cluster can access EndpointMonitor resources, the cluster roles should be aggregated.

[2021-02-02 08:28] #311 closed

[2021-02-08 09:48] hanlin513 commented on #305
In the current implementation we are aiming to pass namespace and clustername to Instana for the setup of monitoring. The question is how these values will be available during runtime execution? Will the be included in the monitor passed as an argument to the Add method? Or will they be provided through some configuration YAML?

[2021-02-09 15:56] llivingstone commented on #292
Hi @ahmedwaleedmalik - Any update on this one?

[2021-02-10 05:16] ahmedwaleedmalik commented on #292
Hi @llivingstone, should be good to go now. I have merged the PR.

[2021-02-10 08:46] llivingstone commented on #292
Perfect, thank you @ahmedwaleedmalik!

[2021-02-10 08:46] #292 closed

[2021-02-10 08:49] #230 closed

[2021-02-10 08:52] ahmedwaleedmalik commented on #305
Hi @hanlin513, hope you are doing well.

We can add monitor id to the `status` of `EndpointMonitor` CR in that case

This I a very vital method and is supposed to be implemented to save redundant API calls etc. It was left empty because we don't have active access to all the service providers that we support atm. So, it becomes difficult to implement and maintain.

Are these values supposed to cha

[2021-03-14 08:41] rasheedamir commented on #306
would you like to make for this feature @twardnw? ideally it should be a configuration that user can pass to IMC e.g.

1. delete immediately
2. delete after given interval
3. never delete?

[2021-03-14 08:43] rasheedamir commented on #285
can this be closed @namm2 and @dicolasi ?

[2021-03-16 14:52] #285 closed

[2021-05-03 11:21] kahootali opened #316 "IMC shouldn't be reading secrets"
Currently IMC lists K8s secrets and based on the key it loads the [data](https://github.com/stakater/IngressMonitorController/blob/master/pkg/secret/secrets.go#L13) from secret through Kubernetes API.
Isn't this a potential security issue? Rather than listing secret from Kubernetes API, it should expect a config on a path, and the user can mount the file from secret. In this way IMC wouldn't be ab

[2021-05-03 11:29] ahmedwaleedmalik commented on #316
The plan is to create a CR for the operator configuration. But I didn't get the time to commit to that.

https://github.com/stakater/IngressMonitorController/issues/265

[2021-05-03 11:31] ahmedwaleedmalik commented on #303
@talha0324 Can i close this?

[2021-05-03 11:32] talha0324 commented on #303
Sure.

[2021-05-03 11:33] #303 closed

[2021-05-03 11:46] ahmedwaleedmalik commented on #316
In terms of being a security risk, no it isn't. If I have an option to mount a secret or use a very well-defined code to auto-fetch the secret, I'd prefer the latter. Even when the configuration is moved to a CR, it would still refer secret for the value of fields like token etc. since CR shouldn't have any direct secrets.

But yes assigning `ClusterRole` for secrets is probably not the right appr

[2021-05-03 12:06] kahootali commented on #316
In my opinion, it would still be a security risk, we would never want any pod to have access to secrets or any resources that it doesn't handle. And if someone gets access to IMC pod, he can easily list the secrets. I would prefer the former in the above scenario.

[2021-05-03 12:09] ahmedwaleedmalik commented on #316
Again, as I said. It shouldn't have clusterrole to list secrets and that should be replaced with a namespaced `role`.

[2021-05-03 16:29] #268 closed

[2021-05-04 06:26] ahmedwaleedmalik opened #321 "Add tests for Controller"
With #317 the tests for the controller were removed. We need to add them back against the updated framework.

[2021-05-04 06:27] ahmedwaleedmalik commented on #310
Hi @sharkymcdongles,
Seems like a good addition, if you can add this functionality it would be great. Since we don't have an active account on statuscake.

[2021-05-04 11:11] julien-sugg opened #322 "[gcp/gke] Question about GKE Workload Identity Support"
Greetings,

I am trying to setup `GKE's Workload Identity` to avoid having to configure `API Keys` within the chart. However it doesn't seem to be supported yet.

In a few words, `Workload Identity` allows to configure a `Google Service Account` with some specific IAM role bindings and bind it to a specific `Kubernetes Service Account` so that we don't have to manage any API Key(s) from within the

[2021-05-05 06:22] ahmedwaleedmalik commented on #316
Namespace restricted with #317

[2021-05-05 06:22] #316 closed

[2021-05-05 12:58] cwrau opened #328 "RBAC usage should be minimal"
Currently, the charts `role.yaml` (https://github.com/stakater/IngressMonitorController/blob/master/charts/ingressmonitorcontroller/templates/role.yaml) requests way too many permissions.

The only two I can understand are the ones for ingresses and endpoint monitors. I guess maybe `route.openshift.io`, I don't exactly know what that is.

The other ones shouldn't be needed, right?

Additionally, t

[2021-05-05 13:01] cwrau commented on #328
Also, the `create`, `delete`, `patch` and `update` permissions on enpointmonitors shouldn't be needed' either

[2021-05-05 13:45] ahmedwaleedmalik commented on #328
Hi @cwrau,

I upgraded the operator to the latest `operator-sdk` version so might have missed out on something.

- `route.openshift.io` is required, it's an openshift alternative for ingress
- rbac for `deployment, statefulsets, daemonsets, replicasets` is also required because they are used internally to compute health endpoint for a route or ingress
- The access needs to be added, not removed fo

[2021-05-05 13:46] ahmedwaleedmalik commented on #328
Currently, I won't have the bandwidth to work on this but if you can remove the redundant RBAC that would be much appreciated.

[2021-05-05 17:09] cwrau commented on #328
So you go via the ingress to the service, then by its labelSelector to the pods. Then you get its readiness probe

Then why do you need deployment and such? In the podSpec is everything regarding their healthChecks, that's how you build the health endpoint in the code you mentioned anyways.

Ok, so I understand the requirement for service and pods

I adjusted the ClusterRole, the following seems t

[2021-05-05 18:23] ahmedwaleedmalik commented on #328
Okay perfect, let me take care of this.

[2021-05-06 02:25] #328 closed

[2021-05-06 08:35] cwrau commented on #328
Wow, thanks for the quick response!!

Seems to be working, great!

[2021-05-17 07:51] ahmedwaleedmalik opened #337 "Fix status pages integration for uptime and uptimerobots"
Test cases are failing for status pages which reflect that there is some API change from the service providers. We should update our implementation for handling status pages and fix those test cases.

[2021-05-17 18:17] adamstrawson opened #340 "DPANIC statuscake-monitor Error on v2.1.5"
We've moving to the stakater hosted chart running the latest `v2.1.5`, previously running `v2.0.14`.

The pod is going into `CrashBackoffLoop` with the error `DPANIC	statuscake-monitor	odd number of arguments passed as key-value pairs for logging`

I've removed all mentions of the previous version of the chart and CRD incase of any clash, but the error continues.

Full Logs from startup;
[code]

K

[2021-05-17 18:33] ahmedwaleedmalik commented on #340
@adamstrawson Let me check and fix that in a bit. Seems like an issue with logging.

[2021-05-17 18:46] ahmedwaleedmalik commented on #340
@adamstrawson #342 should fix the issue. It was not an error from your side.

We don't have an active account for statuscake anymore so we don't run test cases against that service provider in our ci pipelines. Would it be possible for you to run tests on your local machine once for sanity testing?

[2021-05-17 18:46] #340 closed

[2021-05-17 19:09] ahmedwaleedmalik commented on #340
Both issues should be fixed in https://github.com/stakater/IngressMonitorController/releases/tag/v2.1.6

[2021-05-17 19:30] adamstrawson commented on #340
@ahmedwaleedmalik Thanks for the quick response, I've tested that fix and can confirm it's now running.

We are getting alot of these lines in the log, but it doesn't seem to be affecting how it works;

[code]

[2021-06-02 09:19] pravin-d-patil opened #345 "Download link of ingressmonitorcontroller.yaml is not working"
Hi,

I want to download ingressmonitorcontroller.yaml file but it's download link is not working.
Here is the link provided:
https://raw.githubusercontent.com/stakater/IngressMonitorController/master/deployments/kubernetes/ingressmonitorcontroller.yaml

Kindly point me to correct download link.

Thank you.

[2021-06-08 09:48] cwrau opened #346 "[chart] Wrong `gcr.io/kubebuilder/kube-rbac-proxy` tag"
In the helm chart version `2.1.8` the `gcr.io/kubebuilder/kube-rbac-proxy` image has a tag of `v2.1.8` which is of course wrong

It should probably be `v0.8.0`, the latest release

[2021-06-09 20:32] adamstrawson opened #347 "defaultRequeueTime configurable"
Currently `defaultRequeueTime` is a fixed value of `60 * time.Second` - What's your thoughts on making this variable configurable with a default of the current value?

We've recently starting having issues with StatusCake where the API is being rate limited because of the amount of EndpointMonitors we have, and so the polling is hitting our account limit.

It would be useful for us to be able to i

[2021-06-10 15:04] adamstrawson opened #348 "zap is set to development mode"
Is there a reason why `zap` options has `development: true` (https://github.com/stakater/IngressMonitorController/blob/master/main.go#L68)

This option makes DPanic-level ogs panic instead of simply logging an error, which has resulting in us ingesting 44M log entries in the last week for us.  (Our error rate is high due to the rate limiting mentioned in #347)

Any objection to removing this optio

[2021-06-16 20:19] tiago970 opened #350 "kube-rbac-proxy tag 2.1.8"
I had problems trying to use the tool, which showed that version 2.1.8 of kube-rbac-proxy does not exist in the repository described in values.yaml.
The latest version is 0.8.0, using this version I managed to run ingressmonitorcontroller.
Is it necessary to do another build?

I'm using helm to install ingressmonitorcontroller.

[2021-06-22 09:17] kahootali opened #352 "Issue in Adding Monitor to Status Page for Uptime Robot"
I have created a Status Page on Uptime Robot and got the id of it by running `curl -d "api_key=MY_API_KEY" -X POST https://api.uptimerobot.com/v2/getPSPs` and used that ID in my EndpointMonitor
[code]
But it isn't working and gives an error in the logs as below

[code]
Not sure if I am missing something

[2021-07-02 16:24] #350 closed

[2021-07-06 09:08] #348 closed

[2021-07-28 10:01] ahmedwaleedmalik commented on #352
@kahootali any update on this?

[2021-07-29 10:49] kahootali commented on #347
I am also facing the same issue, it keeps updating the Monitors resulting in Rate Limiting for Uptime Robot, saw the [configurations](https://github.com/stakater/IngressMonitorController#configuration-parameters), there is a field `resyncPeriod` but it doesn't correspond to the Requeue value

[2021-08-03 08:31] ahmedwaleedmalik commented on #347
After retrieving the state of the monitor from the monitor service, we are supposed to compare it with the declared state in the cluster. Right now the method to perform this comparison is not implemented.

https://github.com/stakater/IngressMonitorController/blob/add-requeue-time-flag/pkg/monitors/uptimerobot/uptime-monitor.go#L26

Implementing this would make sure there are no redundant API call

[2021-08-03 08:34] #347 closed

[2021-08-04 07:33] ahmedwaleedmalik commented on #345
Hi @pravin-d-patil, thank you for pointing us to this issue. Although this is not the recommended way to install IMC anymore and this link only exists in `v1.x.x` of IMC. Which is something we don't maintain anymore.

Please take a look at this guide for deploying the operator:

[Deploying IngressMonitorController](https://github.com/stakater/ingressMonitorController#deploying-the-operator)

[2021-08-04 07:33] #345 closed

[2021-08-04 07:34] ahmedwaleedmalik commented on #346
@cwrau that was a bug that is fixed in the latest release. Apologies for any inconvenience.

[2021-08-04 07:34] #346 closed

[2021-08-04 09:02] cwrau commented on #346
Thanks for the fix!

[2021-08-04 09:02] ahmedwaleedmalik commented on #352
@kahootali I went through this issue and it's a limitation from the UptimeRobot API. From documentation of `newPSPs` from https://uptimerobot.com/api/,

1. The field `monitors` can have either an integer or a list of integers as a response.
2. By default it just returns `0` as a response which breaks the whole functionality in the code.

You'll have to open a support ticket at their end to fix thi

[2021-08-20 08:07] invidian opened #358 "Implement rate limiting and backoff for UptimeRobot"
Similar to #106, it would be nice if controller could have a max req per minute setting and could respect a retry-After header, to avoid printing a lot of 429 errors for free UptimeRobot accounts.

[2021-08-23 15:48] tomjohnburton commented on #293
I'm getting this error too. Any updates to be had?

[2021-09-10 09:25] osilva opened #362 "Failure communicating with Statuscake API resulting in duplicate tests"
We are running v2.1.10 on a v1.19.12 cluster with tests/monitors being created in Statuscake. We find that duplicate Monitors are being created and when I check the IMC pod I find:

`{
  "level": "error",
  "ts": 1631202713.767603,
  "logger": "statuscake-monitor",
  "msg": "Unable to retrieve monitor",
  "error": "Get \"https://app.statuscake.com/API/Tests/\": read tcp 10.51.4.130:50776->104.20.7

[2021-09-10 12:46] osilva commented on #362
I realize we are running IMC on multiple clusters using the same credentials, so it's also possible we are hitting rate limits on the API on the Statuscake side. If so, it would be good to maybe have a random back-off, or retry on verifying whether a monitor exists.

[2021-09-12 09:23] Dadavan commented on #362
We are also experiencing this. Running on multiple clusters while only 2 of them seem to have this issue.

[2021-09-13 22:44] SwitchTV-BenBettridge opened #363 "Helm Chart: clusterrole is missing watch permissions for pods/services"
This results in the following lines being logged by the controller/operator:

[code]

[2021-09-15 09:33] osilva commented on #362
We've been told by Statuscake support that it's likely an issue with API rate limiting. Is it possible to have IMC note the problem and retry or have a back-off time?

[2021-09-21 04:30] #363 closed

[2021-10-04 14:37] Dadavan commented on #362
I think the problem is with the [GetAll()](https://github.com/stakater/IngressMonitorController/blob/b8935463de6b2bd17aa2cf8b1b4defa3ebedf576/pkg/monitors/monitor-service.go#L11) function. Maybe it should also return an error, that way if an error is returned from it the reconciliation loop should continue without creating a new monitor (a new monitor should be created only if the monitor is nil,

[2021-11-01 23:00] akondasif opened #366 "Security Misconfiguration: Use of HTTP Without TLS"

[2021-11-02 20:58] akondasif commented on #366
We also have noticed an instance of HTTP without TLS/SSL in one of your Kubernetes manifests. The recommended practice is use of secure HTTP for each team's development and production environment. Enabling TLS ensures secure communication between cluster components.. For examples of Kubernetes security anti-patterns we are following our peer-reviewed publication on Kubernetes security best practic

[2021-11-03 07:46] mkoszut opened #367 "Pingdom - SSLDownDaysBefore needs VerifyCertificate"
`SSLDownDaysBefore` default value for this option is `28` days. But to enable this option in Pingdom `SSLDownDaysBefore` should be set on `true`. Without that, in IngressMonitorController logs we can observe an error like below.

[code]

[2021-11-16 17:04] Yggdrasil commented on #226
/close

[2021-11-17 15:40] Yggdrasil opened #368 "Allow disabling of leader-elect/phone home to 2bf90a83.stakater.com"
From the logs during startup of IMC I see there's a phone home function.
`successfully acquired lease uptimerobot-operator/2bf90a83.stakater.com`

I'm not sure which function this serves, but would like to be able to disable this. The Helm chart doesn't appear to have an option for it.

What is the purpose of this feature? Is it related to the `--leader-elect` parameter?

I wouldn't mind making a

[2021-11-17 16:12] Yggdrasil opened #369 "How to access metrics service?"
When deploying IMC to Kubernetes via the Helm chart I can enable a Prometheus serviceMonitor that appears to look for a metrics service that listens on port 8443 and path /metrics.

Unfortunately I can't get it to work. If I use kubectl to port-forward to that metrics service and port, then try to curl it I get an `Unauthorized` response.

[code]

Prometheus also seems to have trouble reaching it,

[2021-11-17 16:45] Yggdrasil commented on #368
Disabling `rbac.allowLeaderElectionRole` in Helm's values.yaml only causes an infinite amount of errors in the logs because the application still tries to read a configmap but no longer has permission to:

`error retrieving resource lock uptimerobot-operator/2bf90a83.stakater.com: configmaps "2bf90a83.stakater.com" is forbidden: User "system:serviceaccount:uptimerobot-operator:ingressmonitorcontro

[2021-11-17 17:24] Yggdrasil commented on #368
I found note in https://github.com/stakater/IngressMonitorController/blob/master/main.go#L66 that explains the leader-election is used locally to prevent running duplicate controller-managers. That clears things up for me.

The name '2bf90a83.stakater.com' in the log message led me to believe it was a hostname but it appears to be a kind of namespace and doesn't exist as a hostname in DNS. I'll cl

[2021-11-17 17:24] #368 closed

[2021-11-22 05:03] jsokol89 commented on #367
I've bumped into the same issue.
The https://github.com/stakater/IngressMonitorController/pull/370 pull request fixes it.

[2021-11-22 09:34] sgasquet opened #371 "Statuscake - contactGroup always empty when creating tests"
Hey there !

I am facing an issue using this IngressMonitorController with StatusCake.
Following this documentation :
https://github.com/stakater/IngressMonitorController/blob/master/docs/statuscake-configuration.md

I tried IDs, name, string, array of string, the ContactGroup is never defined and the automatically created tests are always with empty contactGroup.
Is there anything i am missing in

[2021-12-01 14:01] GeorgFleig commented on #371
Hi @sgasquet, the contact group configuration is part of the `EndpointMonitor` object, not the generic IMC configuration.

See https://github.com/stakater/IngressMonitorController/blob/master/charts/ingressmonitorcontroller/crds/endpointmonitor.stakater.com_endpointmonitors.yaml#L137 or https://github.com/stakater/IngressMonitorController/blob/master/docs/statuscake-configuration.md

The contact g

[2021-12-02 10:27] sgasquet commented on #371
Heyy
Thanks for your help that was just a misunderstanding on my side :)

Have a nice day !

[2021-12-02 10:27] #371 closed

[2021-12-23 10:09] rombert opened #372 "Warnings related to deprecated ingress api version / Kubernetes 1.22+ support"
Hi,

I have deployed IMC on a kubernetes cluster that is running on version 1.21 . I plan to move to 1.22 soon. I have noticed these warnings in the logs

[code]

This makes the think that the controller will not work with Kubernetes 1.22 or newer. It would be great it it could be updated for these newer Kubernetes versions.

Reference: https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kub

[2021-12-24 10:09] #367 closed

[2021-12-24 10:16] rasheedamir commented on #372
@rombert would you like to make a PR for it?

[2021-12-24 11:58] rombert commented on #372
@rasheedamir - sorry, I have no Go knowledge/experience for this kind of PR.

[2022-01-05 15:39] ehdieunguyen opened #374 "Values.fullnameOverride>: can't evaluate field Values in type string"
I got this issue when I tried to install IMC on the cluster. Does anyone get the same issue, please tell me how to fix it? Thank you very much.

[code]

![2022-01-05-223550_567x193_scrot](https://user-images.githubusercontent.com/39895269/148244878-3683cfd8-efc3-41e2-abfd-5d6d7e76c480.png)

[2022-01-25 20:19] rombert commented on #372
FWIW, this is not working at all in 1.22

[code]

It would be great is someone could contribute a fix, I'd be happy to test it out.

[2022-02-25 07:43] Troyhy opened #378 "EndpointMonitor dockumentation is not mentionin healthEndpoint"
It would be good to add a mention about `healthEndpoint` to documentation as it is super useful when using urlFrom.ingressRef

At least I could not easily find the complete list of supported values. Luckily found a mention in https://github.com/stakater/IngressMonitorController/blob/master/docs/migration-guide.md

It is not the first doc to read as I started using the operator from the start.

[2022-02-25 14:36] usamaahmadkhan commented on #378
@Troyhy PRs are welcome!

[2022-03-31 11:30] pavel1337 opened #379 "Does not work with k8s 1.22"
Hi, controller cannot find ingresses in k8s 1.22, I suppose due to ingresses now being version `networking.k8s.io/v1`.

This is the error I am getting:

[code]

[2022-03-31 11:31] pavel1337 commented on #379
I have submitted very raw PR with changes which made it work with k8s 1.22.5. https://github.com/stakater/IngressMonitorController/pull/380

[2022-06-08 13:01] Kerrai1990 opened #390 "StatusCake API version update"
StatusCake have a new API version available. They will be deprecating their older API this year.

New API Docs: https://www.statuscake.com/api/v1/

[2022-06-17 10:58] usamaahmadkhan commented on #390
@Kerrai1990 Thankyou for opening the issue. Can you submit a PR for this?

[2022-08-24 19:47] aviralharsh opened #395 "Getting Auth related error on EndpointMonitor for StatusCake"
Please help me to resolve this error -
"statuscake-monitor","msg":"Error reading basic auth password from environment variable"

Please explain how do I pass the api token for authentication. Already created a secret with name "imc-config" with provider info that has the api token.

[2022-10-27 14:12] #379 closed

[2022-10-27 14:12] #390 closed

[2022-10-28 10:22] MuneebAijaz commented on #372
hi @rombert , this issue has been resolved by the above mentioned PR, feel free to reopen this if you find any issues.

[2022-10-28 10:22] #372 closed

[2022-11-09 23:31] maennchen opened #405 "Google Cloud Test Project went rogue"
Hi,

I've deleted the google cloud test project which was used in the tests.

For some reason, the monthly costs went from basically nothing until September to over 2'000 $ in October.

I'm contacting google to figure out exactly what happened. In the meantime, the credentials will no longer work.